.jumbotron {
  padding: 0;
  background: #1c3047 ; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #1c3047  0%, #467ab3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1c3047 ), color-stop(100%,#467ab3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #1c3047  0%,#467ab3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #1c3047  0%,#467ab3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #1c3047  0%,#467ab3 100%); /* IE10+ */
  background: linear-gradient(45deg,  #1c3047  0%,#467ab3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c3047 ', endColorstr='#467ab3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.jumbotron:after {
  background: url(/media/images//bg_rasterplot.png) repeat center center;
  opacity: .1;
}

.form-search {
    padding-right: 90px;
}
