html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

div.centered-404 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 760px;
    height: 500px;
    margin-left: -380px;
    margin-top: -250px;
}
