html, body {
    font: 12px sans-serif;
    font-family: Aller;
    color: #2B2924;
    background-color: #FAFAF9 ;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.centered-404 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 760px;
    height: 500px;
    margin-left: -380px;
    margin-top: -250px;
}

a {
    color: #000;
}

/* Layout
***********************/

#header {
    color: #FAFAF9;
    background-color: #2B2924;
    padding: 10px;
}

    #header .top_links {
	float: right;
        text-align: right;
    }

    #header .navigation {
	overflow: hidden;
        font-size: 100%;
    }
    
    #header a {
	color:  #FAFAF9;
	text-decoration: none;
    }

#content {
    font: 16px Aller;
    padding: 10px;
    overflow: hidden;
}

#footer {
    margin-top: 25px;
    text-align: center;
}

/* News
*********************/

.news-block {

}

    .news-block .news-date {
        float: left;
        width: 150px;
    }

    .news-block .news-separator {
        float: left;
        padding-left: 0;
        padding-right: 25px;
    }

.share-in-social-media {
    font-size: 0.8em;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Community page
*********************/

#accounts {
    overflow: hidden;
}

    #accounts .column {
        float: left;
        width: 33%;
    }

        #accounts .column .profile {
            padding: 10px;
        }

            #accounts .column .profile .username {
                display: block;
            }


/* User profile
*******************/

#profile {
    
}

    #profile .row {
        overflow: hidden;
        padding: 5px 0px;
    }

        #profile .row .title {
            font-weight: bold;
            width: 300px;
            float: left;
        }


/* Forms and fields
*************************/

#login-form, #password-change-form,
#password-reset-form {
    width: 500px;
}

.forgot-password {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-form-submit {
    margin-top: 5px;
}

#registration-form, #profile-edit-form {
    width: 850px;
}

ul.errorlist {
    padding: 0;
    margin: 0;
}

    ul.errorlist li {
        color           : #FFFFFF;
        background-color: #FF7F7F;
        display         : block;
        font-size       : 0.85em;
        font-weight     : bold;
        margin-bottom   : 3px;
        padding         : 3px 7px;
        list-style      : none;
    }

.field-wrapper {
    margin-bottom: 5px;
}

    .field-wrapper label {
        font-weight: bold;
    }

    .field-wrapper input {
        width           : 98%;
        font-weight     : bold;
        background-color: #EEEEEE;
        display         : block;
        border          : 1px solid #BBBBBB;
        padding         : 4px;
    }

    .field-wrapper ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .field-wrapper .radio-select {
        width: auto;
        float: left;
    }

    .field-wrapper .checkbox {
        width: auto;
        float: right;
    }

    .field-wrapper select {
        font-weight     : bold;
        background-color: #EEEEEE;
        display         : block;
        border          : 1px solid #BBBBBB;
        padding         : 2px;
    }

        .field-wrapper select option {
            padding         : 1px 5px;
        }

    .field-wrapper textarea {
        width			: 99%;
        background-color: #EEEEEE;
        border          : 1px solid #BBBBBB;
        padding         : 4px;
    }


/* Pagination
******************/

#page-navigation {
    margin-top: 15px;
    text-align: center;
}

        #page-navigation .pages .prev {
            float: left;
        }

        #page-navigation .pages .next {
            float: right;
        }

        #page-navigation .pages .page {
            padding: 5px;
        }

        #page-navigation .pages .current {
            font-weight: bold;
        }
    
        #page-navigation .pages .inactive {
            color: #BBBBBB;
        }

    #page-navigation .total {
        color     : #BBBBBB;
    }

.feeds {
    padding: 25px 0;
}

div.rss-link {
    background: url(/media/images/icons/rss-16x16.png) no-repeat 16px center;
    padding-right: 16px;
    padding-left: 40px;
    display: inline;
}


.logo {
   margin-left: 300px;
   background: url(/media/images/special/test_nuSPIC2.png) no-repeat;
   width: 429px;
   height: 186px;
}

.bcf_logo {
   margin-left: 300px;
   background: url(/media/images/special/bcf_logo.png) no-repeat;
   width: 429px;
   height: 186px;
   background-size:50%;
   float:left;
}

.nest_logo {
   margin-left: 300px;
   background: url(/media/images/special/nest_logo.png) no-repeat;
   width: 429px;
   height: 186px;
   background-size:50%;
   float:left;
}

.uni_freiburg_logo {
   margin-left: 300px;
   background: url(/media/images/special/uni_freiburg_logo.png) no-repeat;
   width: 429px;
   height: 186px;
   background-size:50%;
}

.gnode_logo {
   margin-left: 300px;
   background: url(/media/images/special/gnode_logo.png) no-repeat;
   width: 429px;
   height: 186px;
   background-size:50%;
}

.blockcontent {
   margin-left: 300px;
   vspace: -100;
   font-family: Aller;
   width : 800px;
   line-height: 1.5em;
}