html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

div.centered-404 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 760px;
    height: 500px;
    margin-left: -380px;
    margin-top: -250px;
}


/* Forms and fields
*************************/

#login-form, #password-change-form,
#password-reset-form {
    width: 500px;
}

#registration-form {
    width: 850px;
}

ul.errorlist {
    padding: 0;
    margin: 0;
}

    ul.errorlist li {
        color           : #FFFFFF;
        background-color: #FF7F7F;
        display         : block;
        font-size       : 0.85em;
        font-weight     : bold;
        margin-bottom   : 3px;
        padding         : 3px 7px;
        list-style      : none;
    }

.field-wrapper {
    margin-bottom: 5px;
}

    .field-wrapper label {
        font-weight: bold;
        display    : block;
    }

    .field-wrapper input {
        width           : 98%;
        font-weight     : bold;
        background-color: #EEEEEE;
        display         : block;
        border          : 1px solid #BBBBBB;
        padding         : 4px;
    }

    .field-wrapper select {
        font-weight     : bold;
        background-color: #EEEEEE;
        display         : block;
        border          : 1px solid #BBBBBB;
        padding         : 2px;
    }

        .field-wrapper select option {
            padding         : 1px 5px;
        }

    .field-wrapper textarea {
        width			: 99%;
        background-color: #EEEEEE;
        border          : 1px solid #BBBBBB;
        padding         : 4px;
    }


/* Pagination
******************/

#page-navigation {
    margin-top: 15px;
    text-align: center;
}

        #page-navigation .pages .prev {
            float: left;
        }

        #page-navigation .pages .next {
            float: right;
        }

        #page-navigation .pages .page {
            padding: 5px;
        }

        #page-navigation .pages .current {
            font-weight: bold;
        }
    
        #page-navigation .pages .inactive {
            color: #BBBBBB;
        }

    #page-navigation .total {
        color     : #BBBBBB;
    }
