#content-head {
    overflow:  hidden;
    cursor: pointer;
}

#content-body {
    margin: auto;
    width: 1600px;
    min-width: 1600px;
    padding:  10px;
    font-family: Aller, arial;
    font-size: 12px;
    overflow: auto;
}

#footer .navigation {
    display : none;
}

/* default settings
*************************/

table {
    border-collapse: collapse;
}

td { 
    font-weight: normal !important;
    padding: 0.1em 0.2em;
    border-top-width: 0 !important;
}

/* Container settings
*************************/

.portlet { margin-top: .3em;}
.portlet-header { width: 180px; margin-left: 7px; padding: 3px 5px 1px 10px;}
.portlet-header .ui-icon { float: right; }
.portlet-content { min-width: 260px; margin: .2em .2em; margin-top: 0; padding: 0.4em;}

.column { min-width: 180px; float: left; padding-bottom: 100px; }

.ui-sortable-placeholder { border: 3px dotted grey; visibility: visible !important; height: 50px !important; }
    .ui-sortable-placeholder * { visibility: hidden; }

div#ui-dialog {
    display: none;
    font-size : .9em;
}

.collapse {
    display:none;
}

.buttons {
    margin-top: 5px;
}

.buttons button {
    margin: 0px;
}

/* Step Helper
*************************/

    #help-steps li {
        cursor: pointer;
        border: none;
        font-size: .85em;
        padding: .2em;
    }

/* Device Table
************************/

    table#device-table tr.enabled {
        cursor: pointer;
    }

    table#device-table td {
        padding: .5em;
    }

    table#device-table input {
        margin: 0;
    }

    table#device-table td.model {
        width: 8.5em;
    }

    table#device-table td.disabled {
        color: grey;
    }

/* Message list
*************************/

ul.messagelist {
    padding: 1px;
    margin: 1px;
}

    ul.messagelist li {
        margin: 0;
        font-size: 0.85em;
        display: block;
    }

/* Forms
*************************/

#device-form {
    display:none;
}

.device-form {
    display:none;
}

    .field-wrapper input {
        width: 97%;
    }

    .field-wrapper textarea {
        width: 98%;
    }

/*    .required input {
        border: 1px solid red;
    }*/

/* Connections Table
*************************/
#weights-tab, #delays-tab{
    padding: .5em 0 0 0;
}

    .connections-table td {
        min-width: 2.6em;
        text-align: center;
        padding: 1px 7px;
    }

    .connections-table span.connections-tabs {
        font-weight: bold;
    }

    .connections-table span.verticaltext {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform:rotate(-90deg);
    }


#layout-legend-content {
    font-size: 0.9em;
    padding-left:15px;
    line-height: .5em;
}

/* History list
*************************/

ul#history-list {
    padding: 0;
    margin: 0;
}

    ul#history-list li {
        font-weight: normal;
        cursor: pointer;    
        font-size: .85em;
        display: block;
        padding: .7em .5em;
        margin-top: 2px;
    }

    ul#history-list input {
        margin: 0;
    }

    ul#history-list a {
        text-decoration: none;
    }

/* Page */

ul.simplePagerNav {
    padding-left: 2px; 
}

    ul.simplePagerNav li {
        cursor: pointer;
        display: block; 
        float: left;
        padding: 3px;
    }

        ul.simplePagerNav li a {
            text-decoration: none;
        }

    ul.simplePagerNav li.currentPage {
        background: #83bd63;
    }

        ul.simplePagerNav li.currentPage a {
            color: #fff;
        }

/* Result
*************************/

#resultView {
   float:center;
}

iframe {
    border: none;
    margin: 3px;
}

#SpikeDetectorThumbnail {
    height: 280px;
    width: 250px;
}

#VoltmeterThumbnail {
    height: 240px;
    width: 250px;
}

iframe.resultView {
    margin-top: 20px;
    width: 750px;
}