
/* default settings
*************************/

table {
    border-collapse: collapse;
    font-size: 1em;
}

td {
    font-weight: normal !important; 
    padding: 0.1em 0.2em;
    border-top-width: 0 !important;
}

#container {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 958px;
    border: 1px solid #A2A2A2;
    background-color: #FAFAF9;
    margin: auto;
    
}

.twocolumns {
    width: 49%;
    margin: 3px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.network-list {
  margin: 3px;
}

#south {
    overflow: hidden;
}

/* Container settings
*************************/

.portlet {
    margin-top: .3em;
    margin-right: 0px;
}

.portlet-header {
    font-size: 1.1em;
    width: 160px; 
    margin-left: 7px;
    padding: 3px 5px 3px 10px;
}

    .portlet-header .ui-icon {
        float: right;
    }

.portlet-content {
    min-width: 320px;
    margin: 0 3px 3px 3px;
    padding: 0.4em;
}

.column {
    min-width: 160px;
    float: left;
    overflow: hidden;
}

.ui-sortable-placeholder {
    border: 3px dotted grey;
    visibility: visible !important;
    height: 50px !important;
}

    .ui-sortable-placeholder * {
        visibility: hidden;
    }

#dialog-msg {
    z-index:-1
}

.collapse {
    display:none;
}

.buttons {
    font-size: .9em;
    margin-top: 5px;
}

    .buttons button {
        margin: 0px;
    }

.buttonset {
    display: none;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    right: -63px;
    cursor: pointer;
    z-index: 1000;
}

.buttonset:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

    .buttonset div {
        padding: 3px;
        float: right;
    }


/* Step Helper
*************************/

#help-steps li {
    cursor: pointer;
    border: none;
    font-size: .85em;
    padding: .2em;
}

/* Device Table
************************/

    table#device-table tr.enabled {
        cursor: pointer;
    }

    table#device-table td {
        padding: 4px;
    }

    table#device-table input {
        font-family: Verdana;
        margin: 0;
    }

    table#device-table td.disabled {
        color: grey;
    }

/* Message list
*************************/

ul.messagelist {
    padding: 1px;
    margin: 1px;
}

    ul.messagelist li {
        margin: 0;
        font-size: 0.85em;
        display: block;
    }

/* Forms
*************************/

#device-form {
    display:none;
}

.device-form {
    display:none;
}

#network-select .field-wrapper {
    margin: 0;
}

/*    .required input {
        border: 1px solid red;
    }*/

/* Connections Table
*************************/
#weights-tab, #delays-tab {
    padding: .5em 0 0 0;
}

    .connections-table td {
        min-width: 2.6em;
        text-align: center;
        padding: 1px 7px;
    }

    .connections-table span.connections-tabs {
        font-weight: bold;
    }

    .connections-table span.verticaltext {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform:rotate(-90deg);
    }


#layout-legend-content {
    font-size: 0.9em;
    padding-left:15px;
    line-height: .5em;
}

/* History list
*************************/

ul#history-list {
    padding: 0;
    margin: 0;
}

    ul#history-list li {
        font-weight: normal;
        cursor: pointer;    
        font-size: .85em;
        display: block;
        padding: .7em .5em;
        margin-top: 2px;
    }

    ul#history-list input {
        margin: 0;
    }

    ul#history-list a {
        text-decoration: none;
    }

/* Page */

ul.simplePagerNav {
    padding-left: 2px; 
}

    ul.simplePagerNav li {
        cursor: pointer;
        display: block; 
        float: left;
        padding: 3px;
    }

        ul.simplePagerNav li a {
            text-decoration: none;
        }

    ul.simplePagerNav li.currentPage {
        background: #83bd63;
    }

        ul.simplePagerNav li.currentPage a {
            color: #fff;
        }

/* Result
*************************/

#resultView {
   float:center;
}

iframe {
    border: none;
    margin: 3px;
}

#SpikeDetectorThumbnail {
    height: 280px;
    width: 250px;
}

#VoltmeterThumbnail {
    height: 240px;
    width: 250px;
}

iframe.resultView {
    margin-top: 20px;
    width: 750px;
}