input.spinedit {
    padding: 0 18px 0 7px;
    border: 1px solid #809db9;
    height: 18px;
    background: url(/media/images/icons/bg-spinedit.png) 100% 0% no-repeat;
    text-align: right;
    width: 60px;
}


input.spinedit.up, input.spinedit.down, input.spinedit.downp, input.spinedit.upp {
    cursor: pointer;
}

input.spinedit.up {
    background-position: right -18px;
}

input.spinedit.down {
    background-position: right -36px;
}

input.spinedit.downp {
    background-position: right -54px;
}

input.spinedit.upp {
    background-position: right -72px;
}

.activated {
    font-weight: bold;
}

.scale_to_fit {
    text-align: right;
    padding-right: 20px;
}

#spikeDetectorThumbnail {
    width: 320px; 
    height: 260px; 
    background-color: #FAFAF9
}

#spikeDetectorThumbnail .scale_to_fit {
    display: none;
}



#fig {
  margin: auto;
}


#fig p {
    margin: 3px;
    padding: 0;
}

.y.axis line, .x.axis line {
  fill: none;
  stroke: #efefef;
}

.x.axis path, .y.axis path {
  display: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis .minor {
  stroke-opacity: .5;
}


#spikes circle {
    stroke:black;
    fill: black;
}

#psth .line {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}