{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block extrahead %}
    <style type="text/css">
        .field-box {
            width: 92%;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Log in</h2>
    
    <form method="post" action="{% url login %}" id="login-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        {% for field in form %}
            <div class="field-wrapper">
                    <div class="label_tag">
                        {{ field.label_tag }}:
                    </div>

                    {{ field.errors }}
                <div class="field-input" style="width: 100%">
                    {{ field }}
                </div>

            </div>
        {% endfor %}
        
        <div class="forgot-password">
            <a href="{% url password_reset %}">Forgot your password?</a>
        </div>
        
        <input type="submit" value="Login" class="login-form-submit"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
