{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    {% if validlink %}
        <h2>Enter new password</h2>
        
        <p>
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        
        <form method="post" action="." id="password-reset-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            {% for field in form %}
                <div class="fieldWrapper control-group {% if field.help_text %}input-append{% endif %}">
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field.errors }}
                        <div>
                            {{ field }}
                            {% if field.help_text %}<span class="add-on">?</span>{% endif %}
                        </div>
                        <span class="help_text">{{ field.help_text }}</span>
                    </div>
                </div>
            {% endfor %}
            
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <h2>Password reset failed</h2>
        
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}
