# coding: utf-8

from os.path import dirname, join, realpath
import djcelery
djcelery.setup_loader()

# Debug mode
DEBUG = True
TEMPLATE_DEBUG = DEBUG

# Make this unique, and don't share it with anybody.
SECRET_KEY = ''

# reCAPTCHA keys
# Obtain key pair at http://recaptcha.net/api/getkey
RECAPTCHA_PUBLIC_KEY = ''
RECAPTCHA_PRIVATE_KEY = ''

# Configure the broker settings:
# According to celery: http://www.celeryproject.org/tutorials/first-steps-with-celery/
# or django-celery: http://ask.github.com/django-celery/getting-started/first-steps-with-django.html
# Installation of broker : http://docs.celeryproject.org/en/latest/getting-started/broker-installation.html

BROKER_HOST = 'localhost'
BROKER_PORT = 5672
BROKER_USER = 'guest'
BROKER_PASSWORD = 'guest'
BROKER_VHOST = '/'

# Define the backend used to store task metadata and return values
CELERY_RESULT_BACKEND = "amqp"
CELERY_IMPORTS = ('lib.tasks',)

ADMINS = (
    ('Yury V. Zaytsev', 'yury@shurup.com'),
)

MANAGERS = ADMINS

# Database connection settings
DATABASES = {
    'default': {
#        'ENGINE': 'django.db.backends.sqlite3',
#        'ENGINE': 'django.db.backends.mysql',
        'ENGINE': '',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
#        'OPTIONS': {
#            'ssl': {
#                'ca': '/path/to/cacert.pem',
#                },
#            },
    }
}

APP_ROUTERS = {
    'accounts':'default',
    'forum':'default',
    'news':'default',
    'network':'network',
    'result':'simulation',
    'djcelery':'simulation',
    'djkombu':'simulation',
    'reversion':'simulation',
}

# Absolute path to the directory that holds media
MEDIA_ROOT = join(dirname(realpath(__file__)), 'media')

# URL that handles the media served from MEDIA_ROOT
MEDIA_URL = '/media/'

# URL prefix for admin media -- CSS, JavaScript and images.
# Make sure to use a trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/admin_media/'

# List of locations of the template source files
TEMPLATE_DIRS = (
    join(dirname(realpath(__file__)), 'templates').replace('\\', '/'),
)

EMAIL_HOST = "calculon.imtek.privat"
DEFAULT_FROM_EMAIL = "vlachos@bcf.uni-freiburg.de"
