<div>
    <h3> Raster plot</h3>
    <div class="raster_plot"></div>

    <h3> PSTH </h3>
    <div class="histogram" style="height: 100px;"></div>
    <div>Number of bins: 
        <span class="bins" id="10"> 10 </span>
        <span class="bins" id="20"> 20 </span>
        <span class="bins" id="50"> 50 </span>
        <span class="bins" id="100"> 100 </span>
    </div>

    <h3>Cross-Correlation</h3>
    <div class="correlation_plot" style="height: 100px;"></div>
    <div>Correlate between 
    <select id="neuron1" class="correlation"></select> and
    <select id="neuron2" class="correlation"></select>
    </div>

<!--    <div class="fig">-->
<!--        <div id="spikes"></div>-->

<!--        <div class="scale_to_fit">-->
<!--            Scale to Fit <input type="checkbox" class="sd_scale" value="sd_scale"></input>-->
<!--        </div>-->

<!--        <div id="psth"></div>-->

<!--    </div>-->

<!--    <div class="adjust">-->

<!--        <div class="kernel">-->

<!--            <div class="kernel_function" style="float:left; margin: 0 10px">-->
<!--                <div>Kernel function:</div>-->
<!--                <select>-->
<!--                    <option class="off" value="off"> Off </option>-->
<!--                    <option class="uniform" value="uniform"> Uniform </option>-->
<!--                    <option class="triangular" value="triangular"> Triangular </option>-->
<!--                    <option class="cosine" value="cosine"> Cosine </option>-->
<!--                    <option class="epanechnikov" value="epanechnikov"> Epanechnikov </option>-->
<!--                    <option class="quartic" value="quartic"> Quartic </option>-->
<!--                    <option class="triweight" value="triweight"> Triweight </option>-->
<!--                    <option class="tricube" value="tricube"> Tricube </option>-->
<!--                    <option class="gauss" value="gauss"> Gauss </option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="kernel_width">-->
<!--                <div>Kernel width:</div>-->
<!--                <input type="text" class="spinedit"/> ms-->
<!--            </div>-->
<!--        </div>-->

<!--            <input type="radio" class="uniform" name="smooth_method" value="uniform"> Uniform-->
<!--            <input type="radio" class="triangular" name="smooth_method" value="triangular"> Triangular-->
<!--            <input type="radio" class="cosine" name="smooth_method" value="cosine"> Cosine-->
<!--            <input type="radio" class="epanechnikov" name="smooth_method" value="epanechnikov"> Epanechnikov-->
<!--            <input type="radio" class="quartic" name="smooth_method" value="quartic"> Quartic-->
<!--            <input type="radio" class="triweight" name="smooth_method" value="triweight"> Triweight-->
<!--            <input type="radio" class="tricube" name="smooth_method" value="tricube"> Tricube-->
<!--            <input type="radio" class="gauss" name="smooth_method" value="gauss"> Gauss-->
<!--   -->
<!--    </div>-->

</div>
