<div id="network_layout" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Network layout</h3>
    </div>

    <div class="panel-body" style="padding:0">
        <div id="layout-holder"></div>
    </div>

    <div class="panel-footer">
        {% if SPIC_obj.tooltip %}
            <button id="tour" class="btn btn-default" ><i class="fa fa-life-ring"></i> Tour</button>
        {% endif %}
        <div id="toggle-button" class="btn-group">
            <button id="network-help" class="btn btn-default" href="#network-help-content"><i class="fa fa-question-circle"></i> Help</button>
            <button id="layout-option" class="btn btn-default" href="#layout-option-content"><i class="fa fa-cog"></i> Options</button>
        </div>

        <div id="network-help-content" class="toggle-content hide fade">
            <ul>
                <li><b>Create a new node:</b> Doubleclick any space in layout.</li>
                <li><b>Create a new link:</b> Hold clicking a node and move the mouse to the next node.</li>
                <li><b>Delete node:</b> Focus a node with the mouse and press the key 'Delete'.</li>
                <li><b>Delete link:</b> If it'able to change links, doubleclick a cell in connection matrix to create or delete a link.</li>
                <li><b>HINT:</b> All nodes can be dragged around. (with Ctrl-Pressing)</li>
                <hr>
                <li><b>Blue links with black arrow</b> - excitatory connection</li>
                <li><b>Red links with black dot</b> - inhibitory connection</li>
                <li><b>Additional options:</b> Modify the options for your sake and click button 'Options' again to save the changes.</li>
            </ul>
        </div>

        <div id="layout-option-content" class="toggle-content hide fade form-horizontal">
            <hr>
<!--            <div class="control-group">-->
<!--                <label class="control-label" for="#node-force">Force:</label>-->
<!--                <div id="node-force" class="btn-group controls" data-toggle="buttons-checklist">-->
<!--                    {% for neuron in network_obj.nodes %}-->
<!--                        <button class="btn btn-xs btn-primary node-force" value="{{ forloop.counter0 }}">{{ neuron.id }}</button>-->
<!--                    {% endfor %}-->
<!--                    <button id="node-force-all" class="btn btn-xs btn-primary">All</button>-->
<!--                </div>-->
<!--            </div>-->

            <div class="control-group">
                <label class="control-label" for="#nodes-display">Display nodes</label>
                <div id="nodes-display" class="btn-group controls" data-toggle="buttons-checklist">
                    <button id="input" class="btn btn-default btn-xs nodes-display" value="input">Input</button>
                    <button id="neuron" class="btn btn-default btn-xs nodes-display" value="neuron">Neuron</button>
                    <button id="output" class="btn btn-default btn-xs nodes-display" value="output">Output</button>
                </div>
            </div>

<!--            <div class="control-group">-->
<!--                <label class="control-label" for="#nodes-position-display">Display position of nodes</label>-->
<!--                <div class="btn-group controls" data-toggle="buttons-radio" id="nodes-position-display">-->
<!--                    <button class="btn btn-xs btn-primary nodes-position-display" value="1">True</button>-->
<!--                    <button class="btn btn-xs btn-primary nodes-position-display active" value="0">False</button>-->
<!--                </div>-->
<!--            </div>-->

            <div class="control-group">
                <label class="control-label" for="#links-display">Display links of selected node or link</label>
                <div id="links-display" class="btn-group controls" data-toggle="buttons-checklist">
                    <button id="pre" class="btn btn-default btn-xs links-display" value="pre">Pre</button>
                    <button id="post" class="btn btn-default btn-xs links-display" value="post">Post</button>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="#links-weight-display">Display weight of links</label>
                <div id="links-weight-display" class="btn-group controls" data-toggle="buttons-radio">
                    <button id="true" class="btn btn-default btn-xs links-weight-display" value="true">True</button>
                    <button id="false" class="btn btn-default btn-xs links-weight-display" value="false">False</button>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="#links-curve">Link Curve</label>
                <div id="links-curve" class="btn-group controls" data-toggle="buttons-radio">
                    <button id="left" class="btn btn-default btn-xs links-curve" value="left">Left</button>
                    <button id="right" class="btn btn-default btn-xs links-curve" value="right">Right</button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
