<div class="portlet" id="device-form">
    <div class="portlet-header" title="" id="device-form-header">
      <h3><span id="title-device-id"></span> - <span id="title-device-label"></span></h3>
    </div>

    {% for forms in device_formsets %}

        <form action="." method="POST" class="device-form portlet-form form-horizontal" id="{{ forms.id_model }}-form">
            {% csrf_token %}
            <div class="form-content portlet-body" id="{{ forms.id_model }}">
                {{forms.formsHTML}}
            </div>

            <div class="portlet-footer">
                <div class="control-group">
                <div class="controls">
                <div class="btn-group">
                    <button type="submit" class="check btn" id="submit-device-form">Apply</button>
                    <button type="reset" class="reset btn" id="reset-device-form">Reset</button>
                </div>
                </div>
                </div>
            </div>
        </form>

    {% endfor %}
</div>
