{% load lib_filters %}
{% load network_filters %}

<div class="portlet" id="device-list">

    <div class="portlet-header" title="Hover a device to get more parameters or click a enabled device to modify it.">
        <h3>
            <span>Devices</span>
            <div class="pull-right">
                <button type="button" class="btn bing"><i class="icon-chevron-up"></i></button>
                <button type="button" class="btn bing hide fade"><i class="icon-chevron-down"></i></button>
            </div>
        </h3>
    </div>

    <div class="portlet-body" id="device-list-content">
        <ul class="nav nav-tabs tabs" id="device-tabs">
            <li class="active">
                <a href="#device-table-tab" data-toggle="tab">Table</a>
            </li>
            <li>
                <a href="#csv-tab" data-toggle="tab">CSV</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="device-table-tab" class="tab-pane active">

                <form action="." method="POST" class="devices-form portlet-form">

                    {% csrf_token %}
                    <table id="device-table" class="table table-striped table-hover table-bordered table-condensed">

                        <thead>
                            <tr>
                                <th class="delete hide"></th>
                                <th>ID</th>
                                <th>Label</th>
                                <th>Targets</th>
                                <th>Status</th>
<!--                                <th>Weight (pA)</th>-->
<!--                                <th>Delay (ms)</th>-->
                            </tr>
                        </thead>

                        <tbody>
                            {% if network_obj.device_list|length > 0 %}
                                {% for node in network_obj.nodes %}
                                    <tr class="{% if network_obj.SPIC.group != "1" or node.type != "neuron" %} enabled {% endif %}"id="node_{{ node.id }}">

                                        <td class="node_{{ node.id }} delete hide">
                                            <input type="checkbox" name="device_ids" value="{{ node.id }}" {% if network_obj.SPIC.group == "1" and node.type == "neuron" %} disabled {% endif %}>
                                        </td>

                                        <td class="node_{{ node.id }}"><b>{{ node.id }}</b></td>

                                        <td class="node_{{ node.id }} {% if network_obj.SPIC.group == "1" and node.type == "neuron" %} disabled {% endif %}">
                                            {% if network_obj.SPIC.group == "1" and node.type == 'neuron' %}
                                                Neuron
                                            {% else %}
                                                {{ node.label }}
                                            {% endif %}
                                        </td>

                                        <td class="node_{{ node.id }} targets"></td>

                                        <td>
                                            {% for key, value in node.status.items %}
                                                {% ifnotequal key 'model' %}
                                                    {% if not forloop.first %}, <span class="{{ key }}">{% endif %}{{ key }}: {{ value|truncate_float:"2" }}<span>
                                                {% endifnotequal %}
                                            {% endfor %}
                                        </td>

                                    </tr>
                                {% endfor %}
                            {% endif %}

                            <tr class="hide">
                                <td class="delete hide"></td>
                                <td class="selectable id"></td>
                                <td class="selectable model"></td>
                                <td class="selectable targets"></td>
                                <td class="selectable weight"></td>
                                <td class="selectable delay"></td>
                            </tr>

                        </tbody>

                    </table>

                </form>
            </div>

            <div id="csv-tab" class="csv-tab tab-pane">

                <form action="." method="POST" id="csv_form" class="portlet-form">
                    {% csrf_token %}

                    <div class="portlet-body">

                        <div id="device-csv-form-content">
                            {{ device_csv_form.as_div }}
                        </div>

                    </div>

                </form>
            </div>

        </div>

        <ul class="messagelist" id="device-message"></ul>
    </div>

    <div class="portlet-footer">

<!--            <div id="id_model" class="btn-group pull-right">-->
<!--                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">-->
<!--                    Add a device-->
<!--                    <span class="caret"></span>-->
<!--                </a>-->

<!--                <ul class="dropdown-menu">-->
<!--                    {% for device in device_choices %}-->
<!--                        <li value="{{ device.id_model }}"><a tabindex="-1" href="#">{{device.id_model|label_escape}}</a></li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->


        <div id="tabs-container-2" class="tab-content">
            <div class="tab-pane active">
                <div class="btn-group">
                    <button type="button" id="delete_devices_button" class="btn btn-primary">Delete</button>
                    <button type="button" id="save_devices_button" class="btn btn-primary">Save</button>
                    <button href="#step-helper" role="button" class="btn btn-primary" data-toggle="modal">Help</button>
                </div>
            </div>

            <div class="tab-pane">
                <div class="btn-group">
                    <button type="submit" id="save_csv_button" class="btn btn-primary">Save</button>
                    <button type="reset" id="reset_button" class="btn btn-primary">Reset</button>
                </div>
            </div>
        </div>

    </div>

</div>



<div class="portlet">
    <div class="portlet-body" id="device-form-content">
        <select id="id_model" style="float:right">

            <option value="" >--- select a device ---</option>

            {% for device in device_choices %}
                <option value="{{device.id_model}}" style="color:{% ifequal device.model_type 'neuron' %}#6B4226{% else %}#467ab3{% endifequal %}">{{device.id_model|label_escape}}</option>
            {% endfor %}

        </select>

        <label for="id_model" style="margin: 5px">Add a device:</label>
    </div>

</div>

<div id="step-helper" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Seven steps to work with SPIC</h3>
    </div>

    <div class="modal-body">
        <p>
            <ol>
                <li>Add <b>new devices</b> and set their status.</li>
                <li>Once done, save the <b>device table</b>.</li>
                <li>Explore the <b>network layout</b>.</li>
                <li>Explore the <b>connectivity matrix</b>.</li>
                <li>Modify <b>the devices</b> if necessary save the table.</li>
                <li>Run the <b>simulation</b>.</li>
                <li>View the <b>results</b>.</li>
            </ol>

            Each successful simulation appears in the history list. The same list can be used to retrieve past simulations together with the results.
            The recorded events (spikes, membrane potential etc.) are plotted online. They can also be downloaded as text files.

            <h4>Optional:</h4>
            Add comments to each simulation describing what you did it, why you did it, what were the results etc. This will help also when retrieving old simulations.

            <p>Give some feedback in the forum.</p>
        </p>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>

