<script type="text/javascript">
    function device_list_preview (status) {
        var model = status['model'].replace("_", " ");

        var title = [];
        for (var statusKey in status) {
            title.push(statusKey +": "+ status[statusKey].toString())
            }

        // Add new device to the list
        if (selected_device_id == last_device_id + 1) {
            var device = $( "#device-table > tbody tr:last" );
            $(device).after( $(device).clone() );
            $(device).attr('id', "device_"+ selected_device_id).addClass('enabled');

            $(device).find( "td.id" ).html(selected_device_id).end()
                .find(" td.model" ).html(model);

            var term = 'added';
            last_device_id++;
        } else {
            var device = $( "#device_"+ selected_device_id );
            var term = 'changed';
        }

        if ('targets' in status) { $(device).find( "td.targets" ).html(status['targets'])}
        else if ('sources' in status) { $(device).find( "td.targets" ).html(status['sources'])};

        if ('weight' in status) {$(device).find( "td.weight" ).html(status['weight'])}
        if ('delay' in status) {$(device).find( "td.delay" ).html(status['delay'])};

        $(device).attr('title', title.join(", ")).fadeIn().tipTip({defaultPosition: 'right',});


        result_id = 0;
        $( "#device-message" ).html("<li>"+ model +" ["+ selected_device_id +"] was "+ term +" successfully.</li>");
        $( "#device-list" ).find( ".portlet-content" ).show();
    };


    $( "form.device-form" ).live('submit',  function(e) {
        e.preventDefault();
        var form_content = $( this ).find( ".form-content" );
        var form_data = $( this ).serialize();
        $.post('{% url device_preview network_obj.id %}',
            form_data.concat('&neuron_ids='+ JSON.stringify(neuron_ids)), function(data){
                if (data.valid == -1) {
                    $(form_content).html(data.responseHTML);
                } else {
                    $( "ul.errorlist" ).remove();
                    if ($( "select#id_model" ).val() == 'voltmeter' || $("select#id_model" ).val() == 'spike_detector') {
                        $( "select#id_model option:selected" ).hide()
                    };
                    $( "option:first" ).attr('selected', 'selected');

                    var status = data.status,
                    statusJSON = data.statusJSON;
                    status["id"] = parseInt(selected_device_id);

                    if (status["type"] == 'output') {
                        if ("targets" in status) {
                            connect_to_output.push(status["targets"]);
                        } else {
                            connect_to_output.push(status["sources"]);
                        };
                    } else if (status["type"] == 'input') {
                        connect_to_input.push(status["targets"]);
                    } else if (status["type"] == 'neuron') {
                        neuron_ids.push(status["id"])
                    }

                    if (selected_device_id > device_list.length || selected_device_id > last_device_id) {
                        device_list.push(status);
                    } else {
                        position = device_list[selected_device_id-1]["position"];
                        status["position"] = position;
                        device_list[selected_device_id-1] = status;
                    };
                    
                    csvDict = JSONtoCSV(statusJSON)
                    device_list_preview(JSON.parse(statusJSON));
                    $( "#fields #id_model-"+ status.id ).find( "input.deviceCSV" ).attr( "value", csvDict['val']);
                };
        }, 'json');
    });

    $( "#id_step" ).live('keyup', function() {
        var step = parseFloat(this.value);
        var spike_times = [];
        if (step > 0) {
            var start = $(this).parents( ".form-content" ).find( "#id_start" ).val();
            var stop = $(this).parents( ".form-content" ).find( "#id_stop" ).val();
            if (stop == 'inf') {
                stop = {{network_obj.duration|safe}}
            }
            var spike_times = [];
            for (var tt = parseFloat(start); tt <= parseFloat(stop); tt += step) {
                spike_times.push(tt);
            };
        };
        $(this).parents( ".form-content" ).find( "#id_spike_times" ).val(spike_times.toString());

    });

    $( ".required input" ).live('change', function() {
        if (this.value == '') {
            $(this).parent(".field-box").addClass('red');
        } else {
            $(this).parent(".field-box").removeClass('red');
        }
    });

</script>

<div class="portlet" id="device-form">
    <div class="portlet-header" title="" id="device-form-header">
      <span id="selected_device_id"></span> - <span id="selected_device_model"></span>
    </div>

    {% for forms in device_formsets %}

        <form action="." method="POST" class="portlet-content device-form" id="{{forms.id_model}}">
            {% csrf_token %}
            <div class="form-content" id="{{forms.id_model}}-form">
                {{forms.formsHTML}}
            </div>

            <div class="buttons">
                <button type="submit" class="check" id="submit-device-form">Apply</button>
                <button type="reset" class="reset" id="reset-device-form">Reset</button>
            </div>

        </form>
    {% endfor %}
</div>