{% if form.fieldsets %}
    {% for fieldset in form.fieldsets %}
        {% if fieldset.description %}
            <p class="description">{{ fieldset.description }}</p>
        {% endif %}

        {% for field in fieldset %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <div class="field-wrapper control-group {% if field.help_text %}input-append{% endif %} {{ fieldset.classes }}">
                    {{ field.errors }}
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if field.help_text %}
                            <span class="add-on" title="{{ field.help_text }}">?</span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
    {{ form.as_div }}
{% endif %}
