
<div class="btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    History
    <span class="caret"></span>
    </a>

    <ul class="dropdown-menu pull-right" id="history-list" style="max-height: 500px; overflow-y:auto; min-width:300px">
        <li>
            <a tabindex="-1" href="{% url network_history SPIC_obj.group SPIC_obj.local_id %}">
                Overview
            </a>
        </li>
        <hr>

        {% for network in network_list %}

            <li title="{{ network.comment }}" id="history_{{ network.local_id }}">

                <a tabindex="-1" href="{% url network SPIC_obj.group SPIC_obj.local_id network.local_id|default_if_none:0 %}" id="{{ network.local_id }}">
                    {% if network %}
                        <span style="float:right"><i class="favorite {% if network.favorite %}icon-thumbs-up{% endif %}"></i></span>
                        <span style="display: inline-block; width: 15px"><b>{{ network.local_id }}</b></span>
                        <span style="margin: 0 10px">{{ network.date_simulated|timesince|default:"not simulated" }}{% if network.date_simulated %} ago {% endif %}</span>
<!--                        <span style="display: inline-block; min-width:50px">{{ network.label|default_if_none:'' }}</span>-->
                    {% else %}
                        NaN - no network found
                    {% endif %}
                </a>


            </li>

        {% endfor %}

    </ul>

</div>
