<script type="text/javascript">

    $(function() {

            $( "ul#history-list" ).quickPager();

    });

    $(document).ready(function() {

        $( "ul#history-list li" ).each(function(){
            $( this ).addClass("ui-widget-content");
        });

        $( "#history-list li" ).hover(
            function(){
                $( this ).addClass("ui-state-hover");
            },function(){
                $( this ).removeClass("ui-state-hover");
        });

        $( "ul#history-list div.version-link" ).click(function (e) {
                $( "#dialog-msg p" ).html("Loading... please wait.");
                $( "#dialog-msg #loading_icon" ).show();
                $( "#dialog-msg" ).dialog({
                        height: 150,
                        resizable: false,
                        modal: true,
                });
                window.location.href = $( this ).find( "a" ).attr('href')
        });

        $( "button#go-versions" ).click(function(e) {
                e.preventDefault();
                if ($( "ul#history-list input" ).is(":checked")) {
                    $( ".versions-form" ).submit();
                };
        });

    })
</script>

<div class="portlet" id="history">

    <div class="portlet-header portlet-toggle" title="Click a simulated network version to load it.">
        History
    </div>

    <div class="portlet-content" id="history">
        <form action="." method="POST" class="versions-form">
            {% csrf_token %}

            <ul class="pager" id="history-list">
                {% for network in network_list %}
                    <li class="tipTip-left {% ifequal network.id network_obj.id %}ui-state-highlight{% endifequal %}"
                        title="{{ network.comment|default_if_none:'no comment' }}" id="history_{{ network.local_id }}">

                        <input style="float:right" type="checkbox" name="network_ids" value="{{ network.id }}" {% ifequal network.local_id 0 %}disabled{% endifequal %}>

                        {% if network.favorite %}
                            <div class="ui-icon ui-icon-star" style="float:right"></div>
                        {% endif %}

                        <div class="version-link">
                            <a href="{% url network SPIC_obj.group SPIC_obj.local_id network.local_id|default_if_none:0 %}" id="{{ network.local_id }}">
                                {% if network %}
                                    <b>{{ network.local_id }}</b> - {{ network.label }} -
                                    {{ network.date_simulated|timesince|default:"not simulated" }}{% if network.date_simulated %} ago {% endif %}
                                {% else %}
                                    NaN - no network found
                                {% endif %}
                            </a>
                        </div>

                    </li>
                {% endfor %}
            </ul>

            <div class="buttons field-wrapper" title="" >
                <button class="go" id="go-versions" style="float:right">Go</button>
                <form action="#">
                    <select name="action" id="versions-select">
                        <option>Select an action</option>
                        <option value="delete">Delete</option>
                        <option value="favorite">Mark as favorite</option>
                        <option value="unfavorite">Unmark as favorite</option>
                    </select>
                </form>
            </div>

        </form>
    </div>

</div>