<div class="portlet hide fade">
    <form method="#" class="form-horizontal" id="link-form">
        <div class="portlet-header">
            <h3>
                <span>Link Editor</span>
                <div class="pull-right">
                    <button type="button" class="btn bing"><i class="icon-chevron-up"></i></button>
                    <button type="button" class="btn bing hide fade"><i class="icon-chevron-down"></i></button>
                </div>
            </h3>
        </div>

        <div class="portlet-body">
            {% csrf_token %}

            {% for field in link_form %}
                <div class="fieldWrapper control-group">
                    <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
                    <div class="controls">
                        <div class="{% if field.help_text%}input-append{% endif %}">
                            {{ field }}
                            {% if field.help_text %}<span class="add-on" value="{{ field.help_text }}">?</span>{% endif %}
                        </div>
                        <span class="help_text">{{ field.help_text }}</span>
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="portlet-footer" style="padding: 10px; border-top: 1px solid #DDDDDD">
            <div class="btn-group">
                <button type="submit" class="check btn" id="submit-node-form-button">Apply</button>
                <button type="reset" class="reset btn" id="reset-node-form-button">Reset</button>
            </div>
        </div>
    </form>
</div>


