
{% load lib_filters %}
{% load network_filters %}
{% load network_tags %}
{% load humanize %}
<head>

<link href="{{ MEDIA_URL }}css/default.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/nuspic/jquery-ui-1.8.14.custom.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/jquery-ui.custom.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/layout-default.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/network.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/tipTip.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.layout.min-1.2.0.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.layout.state.js"></script> -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/json2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/network.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/quickpager.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/raphael-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/raphael-networkLayout.js"></script>

<style type="text/css">
    .field-wrapper {
        width:100%
    }

    .field-box {
        height:23px;
        width: 92%;
    }
</style>

<script type="text/javascript">
    var None = '';
    var network_id = {{ network_obj.id }},
    device_list = {{ network_obj.device_list|safe }},
    neuron_ids = {{ network_obj.neuron_ids|safe }},
    edgelist = {{ network_obj.edgelist|safe }},
    connect_to_input = {{ network_obj.connect_to_input|safe }},
    connect_to_output = {{ network_obj.connect_to_output|safe }},
    layoutSize = {{ network_obj.layout_size|safe }},
    last_device_id = {{ network_obj.last_device_id|safe }},
    params_order = {{ params_order|safe }};

    var selected_device_id,
    task_id;

//     $(document).unload(function(){ layoutState.save('myLayout') }); 


    var myDefaultSettings = {
//         south__closable:              false,
        south__slidable:              false,
        west__size:                   'auto',
        west__spacing_closed:         20,
        west__togglerContent_open:    "&#8249;", // "‹"
        west__togglerContent_closed:  "&#8250;", // "›"
    };


    $(function() {
        $( ".ui-layout-content" ).css('height', window.innerHeight-45)
        $( ".portlet" ).loadTheme({"tipTip":true});

        $( ".portlet-content" ).addClass( "ui-corner-all" )
        $( ".pager li" ).addClass("ui-corner-all")
//         $( "select" ).addClass("ui-corner-all")

        // ADMIN
        $( "span#device_id" ).html(selected_device_id);
        $( "span#last_device_id" ).html(last_device_id);

    });

    $(document).ready(function() {

        // CONTENT HEADER
        $( "#banner" ).css("background", "url(/media/images/special/nuspic_banner_small.png) no-repeat")
                .css('height','85px')
                .css('width', '880px');

        // tipTip
        $( ".tipTip-top" ).tipTip({
                delay: 1000,
                defaultPosition: 'top',
        });

        $( ".tipTip-right" ).tipTip({
                defaultPosition: 'right',
        });

        $( ".tipTip-left" ).tipTip({
                defaultPosition: 'left',
        });

        $( ".ui-icon" ).hover(function(){$(this).parent().addClass('ui-state-hover')}, 
            function(){$(this).parent().removeClass('ui-state-hover')})

        $( ".network-list" ).change(function() {
            document.location.href = $(this).val();
        });

        $( "#network-label" ).submit(function(e) {
            e.preventDefault();
            $.post('{% url save_label network_obj.id %}',
                $(this).serialize(),
                function(data) {
                    var tmp = $( ".network_selector:selected" ).html().split('-')
                    tmp[1] = ' '+ data.label +' '  
                    $( ".network_selector:selected" ).html(tmp.join('-'))
                    
                }, 'json')
            })

        myLayout = $(".ui-layout-content").layout(
                myDefaultSettings
//                 $.extend( myDefaultSettings, layoutState.load('myLayout') )
            );

        $( "button.help_text" ).click(function(e) {
            e.preventDefault();
        });
    });

</script>
</head>

<body>

    <div>

        <div style="display:inline-block; width:60%" class="field-wrapper">
            <select class="network-list">
                <option value="">--- select a network ---</option>
                {% for network in network_list %}
                    <option class="network_selector" value="{% url network_mini SPIC_obj.group SPIC_obj.local_id network.local_id %}" {% ifequal network.id network_obj.id %} selected {% endifequal %}>
                        {{ network.local_id }} - {{ network.label|default_if_none:" " }} -
                        {% if network.date_simulated %}
                            {{ network.date_simulated|timesince }} ago
                        {% else %}
                            not simulated
                        {% endif %}
                    </option>
                {% endfor %}

            </select>
        </div>

        <div style="display:inline-block; width:280px">
            <form id="network-label">

                {% csrf_token %}

                {% for field in label_form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="field-wrapper" title="{{ field.help_text }}">
                            {{ field.errors }}
                            <div class="field-box" style="width:80%">
                                {{ field }}
                            </div>
                            <button class="ui-corner-right" type="submit" >Save</button>
                        </div>
                    {% endif %}
                {% endfor %}

            </form>

        </div>

    </div>

    <div class="ui-layout-content">

        <div class="ui-layout-west">
        
            <div id="devices" style="margin-right:6px">
        
        <!--         DEVICE LIST -->
                {% include "device_list.html" %}
        
        <!--         DEVICE FORMS -->
                {% include "device_formsets.html" %}
        
            </div>
        </div>
        
        <div class="ui-layout-center">
        
            <div id="network" style="margin-right:6px">

                {% if network_obj.connections %}

        <!--             CONNECTIVITY MATRIX   -->
                    {% include "connectivity_matrix.html" %}
        
        <!--             NETWORK LAYOUT   -->
                    {% include "network_layout.html" %}

                {% endif %}
        
        <!--             SIMULATION   -->
                {% include "simulation.html" %}
        
              </div>
        
        </div>
        
        {% if network_obj.is_recorded %}
            <div class="ui-layout-south" id="south">
            
            <!--            RESULT   -->
                {% include "result_south.html" %}

            </div>
        {% endif %}


    <!-- POPUP DIALOG -->
    <div class="ui-dialog" id="dialog-msg" title="Network messenger">

        <div style="width:56px; height: 54px; margin:auto; padding:12px; display:none; float:left; vertical-align:bottom" id="loading_icon">
            <img src="/media/images/icons/bcf_logo-loader.gif" style="height:100%;width:100%;">
        </div>

        <p id="dialog-msg" style="margin-top: 60px"></p>

    </div>

</body>