{% extends "base.html" %}

{% load lib_filters %}
{% load network_filters %}
{% load network_tags %}

{% load humanize %}

{% block extrahead %}

<link href="{{ MEDIA_URL }}css/nuspic/jquery-ui-1.8.14.custom.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/jquery-ui.custom.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/network.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/tipTip.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/json2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/network.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/quickpager.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/raphael-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/raphael-networkLayout.js"></script>

<script type="text/javascript">
    var device_list = [],
    edgelist = [],
    neuron_ids = [];

    var last_device_id = {{ network_obj.last_device_id|safe }},
    version_id = {{ version_id|safe }},
    selected_device_id,
    task_id;

    {% if network_obj.device_list %}
        var device_list = {{ network_obj.device_list|safe }},
        neuron_ids = {{ network_obj.neuron_ids|safe }},
        edgelist = {{ network_obj.edgelist|safe }},
        connect_to_input = {{ network_obj.connect_to_input }},
        connect_to_output = {{ network_obj.connect_to_output }},
        layoutSize = {{ network_obj.layout_size|safe }};
    {% endif %}


    $(function() {
            $( ".column" ).sortable({
                    cancel: ".portlet-content",
                    connectWith: ".column",
                    opacity: 0.7
            });

            $( ".portlet" ).loadTheme({"tipTip":true});

            $( "div#step-helper" ).dialog({
                                   title: 'How to use it?',
                                   resizable: false,
                                   height: 450,
                                   width: 550,
                 }).parent().hide();

            $( "div#connections-tabs" ).tabs();
            $( "div#results-tabs" ).tabs();
            $( "ul#history-list" ).quickPager();

            // ADMIN
            $( "span#device_id" ).html(selected_device_id);
            $( "span#last_device_id" ).html(last_device_id);


    });



    var device_list_preview = function (data) {
        var label = data[0]['label'].replace("_", " "),
        title = [], status = data[1];
        for (var i in status) {
            title.push(' '+ i.toString() +': '+ status[i].toString());
            }

        // Add new device to the list
        if (selected_device_id == last_device_id + 1) {
            var device = $( "#device-table > tbody tr:last" );
            $(device).after( $(device).clone() );
            $(device).attr('id', selected_device_id).addClass('enabled');

            $(device).find( "td.id" ).html(selected_device_id).end()
                .find(" td.model" ).html(label);

            var term = 'added';
            last_device_id++;
        } else {
            var device = $( "#"+ selected_device_id );
            var term = 'changed';
        }

        if ('targets' in data[2]) { $(device).find( "td.targets" ).html(data[2]['targets'])}
        else if ('sources' in data[2]) { $(device).find( "td.targets" ).html(data[2]['sources'])};

        if ('weight' in data[2]) {$(device).find( "td.weight" ).html(data[2]['weight'])}
        if ('delay' in data[2]) {$(device).find( "td.delay" ).html(data[2]['delay'])};

        if (title) {
        $(device).attr('title', 'no status').fadeIn().tipTip({defaultPosition: 'right',});
        } else {
        $(device).attr('title', title.join(",")).fadeIn().tipTip({defaultPosition: 'right',});
        }

        version_id = 0;
        $( "#device-message" ).html("<li>"+ label +" ["+ selected_device_id +"] was "+ term +" successfully.</li>");
        $( "#device-list" ).find( ".portlet-content" ).show();
    };

    var save_and_simulate = function () {
        var form = $( "#network-form" ).serialize();
        var devices_json = JSON.stringify(device_list);
        var post_data = form.concat('&devices_json='+ devices_json);
        version_id = version_id > 0 ? version_id : 0
        $.post('/network/ajax/'+ {{ network_obj.id }} +'/'+ version_id +'/simulate/',
            post_data, function(data){
                if (data.valid == -1) {
                    $( ".network-form-content" ).html(data.responseHTML);
                } else if (data.recorded == 1) {
                    $( "#dialog-simulating" ).dialog({
                            title: "This network is already simulated.",
                            resizable: false,
                            width: 400,
                            modal: true,
                            buttons: {
                                ok: function() {
                                    $( this ).dialog( "close" );
                                }
                            },
                    });
                } else {

                    $( "#dialog-simulating" ).dialog({
                            title: "Simulation has started.",
                            resizable: false,
                            height: 0,
                            width: 400,
                            buttons: {
                                'Abort': function() {
                                    $.getJSON('/network/ajax/'+ {{ network_obj.id }} +'/'+ version_id +'/simulate/',
                                        {'task_id': task_id},
                                        function() {
                                            $( this ).dialog( "close" );
                                            get_task_status();
                                    });
                                }
                            }
                    });
                    task_id = data.task_id;
                    $( "#task_id" ).html(task_id);
                    get_task_status();
                };
        }, 'json');
    };

    // LOOPING REQUEST FOR SIMULATION PROGRESS
    var get_task_status = function() {
        $.getJSON('/status/'+task_id+'/?', function(data) {
                var task = data['task'];
                var status = task['status'];
                $( "#task_status" ).html(status);
                if (status == 'PENDING') {
                    window.setTimeout(function() {get_task_status()}, 2000);
                } else {
                    if (status == 'ABORTED') {
                        $( "#task_status" ).html('ABORT');
                        $( "#dialog-simulating" ).dialog({
                                title:"Simulation was aborted.",
                                buttons: {
                                    ok: function() {
                                        $( this ).dialog( "close" );
                                        $( "#dialog-loading" ).dialog({
                                                title: 'Loading... please wait.',
                                                resizable: false,
                                                modal: true,
                                        });
                                        window.location.reload();
                                    }
                                },
                        });
                    } else if (status == 'FAILURE') {
                        $( "#task_status" ).html('Simulation failure.').effect("highlight", {}, 1000);
                        var result = task['result'];
                        $( "#dialog-simulating" ).dialog({
                                title:"Simulation failed.",
                                buttons: {
                                    ok: function() {
                                        $( this ).dialog( "close" );
                                        $( "#dialog-loading" ).dialog({
                                                title: 'Loading... please wait.',
                                                resizable: false,
                                                modal: true,
                                        });
                                        window.location.reload();
                                    }
                                },
                        });
                    } else if (status == 'SUCCESS') {
                        $( "#dialog-simulating" ).dialog( {
                                title:"Simulation was finished successfully.",
                                buttons: {},
                        });
                        var result = task['result'];
                        window.setTimeout(function() {
                                window.location.href = '{% url network network_obj.SPIC_id network_obj.local_id %}' + result['result_local_id'] + '/'
                        }, 1000);
                    };
                }
        });
    };


    // DEVICE ACTIVITY
    $( "button#save-devices" ).live('click', function(e) {
            e.preventDefault();
            $( ".device-form" ).hide();
            var devices_json = JSON.stringify(device_list);
            $.post('{% url device_commit network_obj.id %}',
                    {'csrfmiddlewaretoken':"{{ csrf_token }}", 'devices_json':devices_json},
                    function() {
                            $( "#dialog-loading" ).dialog({
                                    title: 'Loading... please wait.',
                                    resizable: false,
                                    modal: true,
                            });
                            window.setTimeout(function() {
                                    window.location.href = '{% url network network_obj.SPIC_id network_obj.local_id %}'
                            }, 1000);
            }, 'json');
    });


    $( "form.device-form" ).live('submit',  function(e) {
            e.preventDefault();
            var form_data = $( this ).serialize();
            var post_data = form_data.concat('&neuron_ids='+ JSON.stringify(neuron_ids));
            $.post('{% url device_preview network_obj.id %}',
                post_data, function(data){
                    var form = $( "#"+ data.id_label +"-form" )
                    $(form).html(data.responseHTML);
                    if (data.valid != -1) {
                        $( "ul.errorlist" ).remove();
                        if ($( "select#id_label" ).val() == 'voltmeter' || $("select#id_label" ).val() == 'spike_detector') {
                            $( "select#id_label option:selected" ).hide()
                        };
                        $( "option:first" ).attr('selected', 'selected');

                        device = data.device;
                        device[0]["id"] = parseInt(selected_device_id);

                        if (device[0]["type"] == 'output') {
                            if ("targets" in device[2]) {
                                connect_to_output.push(device[2]["targets"]);
                            } else {
                                connect_to_output.push(device[2]["sources"]);
                            };
                        } else if (device[0]["type"] == 'input') {
                            connect_to_input.push(device[2]["targets"]);
                        } else if (device[0]["type"] == 'neuron') {
                            neuron_ids.push(device[0]["id"])
                        }

                        if (selected_device_id > device_list.length || selected_device_id > last_device_id) {
                            device_list.push(device);
                        } else {
                            position = device_list[selected_device_id-1][0]["position"];
                            device[0]["position"] = position;
                            device_list[selected_device_id-1] = device;
                        };
                        device_list_preview(device);
                    };
            }, 'json');
    });


    $( "#id_step" ).live('keyup', function() {
         var step = parseFloat(this.value);
         var spike_times = [];
         if (step > 0) {
             var start = $(this).parents( ".advanced" ).find( "#id_start" ).val();
             var stop = $(this).parents( ".advanced" ).find( "#id_stop" ).val();
             if (stop == 'inf') {
                 stop = {{network_obj.duration|safe}}
             }
             var spike_times = [];
             for (var tt = parseFloat(start); tt <= parseFloat(stop); tt += step) {
                 spike_times.push(tt);
             };
         };
         $(this).parents( ".device-form" ).find( "#id_spike_times" ).val(spike_times.toString());
    });



    $( "form#network-form" ).live('submit',  function(e) {
            e.preventDefault();
            if (connect_to_output.length <1) {
                $( "#dialog-confirmSimulation" ).find( "p" ).html('No recording device connected. Do you want to continue?');
                $( "#dialog-confirmSimulation" ).dialog({
                        title: "No output device found.",
                        resizable: false,
                        height: 170,
                        width: 350,
                        modal: true,
                        buttons: {
                            "Yeah": function() {
                                $( this ).dialog( "close" );
                                save_and_simulate();
                            },
                            "Abort": function() {
                                $( this ).dialog( "close" );
                            },
                        },
                });
            } else if (connect_to_input.length <1) {
                $( "#dialog-confirmSimulation" ).find( "p" ).html('No input device connected. Network may be silent.');
                $( "#dialog-confirmSimulation" ).dialog({
                        title: "No input device found.",
                        resizable: false,
                        height: 170,
                        width: 350,
                        modal: true,
                        buttons: {
                            "Yeah": function() {
                                $( this ).dialog( "close" );
                                save_and_simulate();
                            },
                            "Abort": function() {
                                $( this ).dialog( "close" );
                            },
                        },
                });
            } else if ($( "#id_duration" ).val() > 5000.0) {
                $( "#dialog-confirmSimulation" ).find( "p" ).html('<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The simulation lasts more than 5 seconds and it could have a speed effect on page loading time.<h4>Are you sure?</h4>')
                $( "#dialog-confirmSimulation" ).dialog({
                        title: "Confirm to Simulate?",
                        resizable: false,
                        height: 210,
                        width: 380,
                        modal: true,
                        buttons: {
                            "Yeah": function() {
                                $( this ).dialog( "close" );
                                save_and_simulate();
                            },
                            "Abort": function() {
                                    $( this ).dialog( "close" );
                            },
                        },
                });
            } else {
                save_and_simulate()
            }
    });


// NETWORK LAYOUT
    $( ".portlet-header" ).find( ".ui-icon-newwin" ).live('click', function(e) {
            e.preventDefault();
            var popup = $( this ).parents( ".portlet" );
            width = ($(popup).find( ".portlet-content" ).width()+80);
            height = ($(popup).find( ".portlet-content" ).height()+110);
            newPopup = window.open('{% url network_layout network_obj.SPIC_id network_obj.local_id %}',
                        'network_layout',
                        'left=50,width='+ width.toString() +',height='+ height.toString() +',toolbar=no,location=yes,directories=no,status=no,menubar=no,scrollbars=no,copyhistory=no');
            newPopup.moveTo(screen.availWidth/2 - width/2, screen.availHeight/2 - height /2);
            newPopup.focus();
//             $( popup ).find( ".toggle" ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
//             $( popup ).find( ".portlet-content" ).slideToggle();
    });

    $( "button#save-layout" ).live('click', function(e) {
            e.preventDefault();
            var devices_json = JSON.stringify(device_list);
            $.post('{% url save_layout network_obj.id %}',
                    {'csrfmiddlewaretoken':"{{ csrf_token }}", 'devices_json':devices_json},
                    function(data) {
                        layoutSize = data["layoutSize"];
                        $( "#holder" ).height(layoutSize["y"]+30)
                                      .width(layoutSize["x"]+30)
                                      .html('')
                                      .loadLayout(device_list);
                        $( "#position" ).html("saved").show();
            }, 'json');
    });

    $( "button#default-layout" ).live('click', function(e) {
            e.preventDefault();
            $.getJSON('{% url default_layout network_obj.id %}', //'/network/ajax/'+ {{ network_obj.id }} +'/default_layout/',
                                        function(data) {
                                            device_list = data["device_list"];
                                            layoutSize = data["layoutSize"];
                                            $( "#holder" ).height(layoutSize["y"]+30)
                                                          .width(layoutSize["x"]+30)
                                                          .html('')
                                                          .loadLayout(device_list);
                                    });
    });


// COMMENT
    {% if comment_form %}
        $( "form#comment-form" ).live('submit',  function(e) {
                e.preventDefault();
                $.post('{% url result_comment result_obj.id %}',
                    $( this ).serialize(), function(data){
                        $( "#history_{{result_obj.local_id}} a" ).attr('title',data).tipTip({defaultPosition:'left'});
                }, 'html');
        });
    {% endif %}

// RESULTS
    {% if result_obj.has_voltmeter %}
        $( "button#reload" ).live('click', function(e) {
                $( "div#VoltmeterThumbnail" ).html('<iframe src="{% url voltmeter_thumbnail result_obj.id %}"> </iframe>');
        });

        $( "select#voltmeter-select" ).live('change',function(e) {
                $( ".resultView" ).attr('src', $( this ).val());
                $( ".resultView" ).css('height', 400);
                $( "#dialog-resultView" ).dialog({
                        title: 'Voltmeter view of '+ $( this ).find( "option:selected" ).attr('name'),
                        height: 470,
                        width: 800,
                        modal: true,
                });
                $( "#voltmeter-select option:first" ).attr('selected', 'selected');
        });
    {% endif %}

    {% if result_obj.has_spike_detector %}
        $( "button#spike_detector-link" ).live('click',function(e) {
                $( ".resultView" ).attr('src', "{% url spike_detector result_obj.id %}?view=large");
                $( ".resultView" ).css('height', {{ network_obj.neuron_ids|length }} * 15 + 230);
                $( "#dialog-resultView" ).dialog({
                        title: 'Spike Detector view of all connected neurons',
                        height: {{ network_obj.neuron_ids|length }} * 15 + 320,
                        width: 800,
                        modal: true,
                });
        })
    {% endif %}

    $(document).ready(function() {

        // CONTENT HEADER
        $( "#banner" ).css("background", "url(/media/images/special/nuspic_banner_small.png) no-repeat")
                .css('height','85px')
                .css('width', '880px');


        // DEVICE TABLE
        $( "table#device-table tr" ).each(function(){
                $( this ).addClass("tipTip-right");
        });
        $( "table th" ).each(function(){
                $( this ).addClass("ui-state-default");
        });
        $( "table td" ).each(function(){
                $( this ).addClass("ui-widget-content");
        });
        $( "table tr.enabled" ).hover(
                function(){
                    $( this ).children("td").addClass("ui-state-hover");
                },function(){
                    $( this ).children("td").removeClass("ui-state-hover");
        });
        $( "table tr.enabled" ).click(function(){
                $( this ).children( "td" ).toggleClass("ui-state-highlight");
        });


        // SELECT DEVICE TO CHANGE PARAMETERS
        $( "tr.enabled" ).find( "td.selectable" ).click(function(e) {
                e.preventDefault();
                $( "ul.errorlist" ).remove();
                $( "option:first" ).attr('selected', 'selected');
                selected_device_id = $(this).parent( ".enabled" ).attr('id')
                var device = device_list[selected_device_id-1];
                var form = $( "#"+device[0].label );

                if ($( form ).is(":visible")) {
                    $( "#device_id" ).html("");
                    $( form ).toggle();
                    $( "#device-form" ).hide();
                } else {
                    $( "#device_id" ).html(selected_device_id)
                    $( "tr.enabled" ).each(function() {
                            if ($(this).attr('id') != selected_device_id && $(this).children("td").hasClass("ui-state-highlight")) {
                                $(this).children("td").toggleClass("ui-state-highlight");
                            }
                    });
                    $( ".device-form:visible" ).toggle();
                    $( form ).reset();
                    var form_content = $( form ).children();
                    $(form_content)
                        .find( "#id_model" ).val(device[0]['label']);
                    for (var key in device[1]) {
                        $(form_content).find( "#id_"+ key ).val(device[1][key]).removeClass('ui-state-hover');
                    };
                    for (var key in device[2]) {
                        $(form_content).find( "#id_"+ key ).val(device[2][key]).removeClass('ui-state-hover');
                    };
                    $( form ).toggle();
                    $( "#device-form" )
                          .find( "#selected_device_id" ).html(selected_device_id).end()
                          .find( "#selected_device_label" ).html(device[0]['label'].replace(/_/g, ' ')).end()
                          .show();
                }
        });


        // DELETE DEVICE
        $( "button#delete-devices" ).click(function(e) {
                e.preventDefault();
                $( this ).toggleClass( "ui-state-highlight" )
                    if ($( "table#device-table .delete" ).is(":visible") && $( "table#device-table .delete" ).find( "input" ).is(":checked")) {
                    $(".devices-form").submit();
                } else {
                    $( "table#device-table .delete" ).toggle();
                };
        });


        // GET HELP
        $( "button#help-network" ).live('click',function(e) {
            e.preventDefault();
            $( "#step-helper" ).parent().slideToggle();
        });


        // SELECT A DEVICE TO ADD
        $( "select#id_label" ).change(function(e) {
                e.preventDefault()
                $( ".device-form:visible" ).hide();
                $( "#device-form" ).hide();
                $( "ul.errorlist" ).remove();
                selected_device_id = last_device_id+1
                $( "span#device_id" ).html(selected_device_id);
                $( "tr.enabled" ).each(function() {
                            if ($(this).attr('id') != selected_device_id && $(this).children("td").hasClass("ui-state-highlight")) {
                                $(this).children("td").toggleClass("ui-state-highlight");
                            }
                    });

                var form = $( "#"+ $(this).val() );
                if ($(this).val() != "") {
                    $( form ).reset().find( "#selected_device_id" ).html(selected_device_id).end()
                        .find( "#id_model" ).attr('value', $(this).val()).end()
                        .show();

                    $( "#device-form" )
                        .find( "#selected_device_id" ).html(selected_device_id).end()
                        .find( "#selected_device_label" ).html($(this).val().toString().replace(/_/g, ' ')).end()
                        .show();
                }
        });


        // DEVICE FORMS
        $( ".required input" ).each(function() {
            if ($(this).val() == '') {$(this).addClass('ui-state-hover')};
            });

        $( ".required input" ).keyup(function() {
            if (this.value == '') {
                $(this).addClass('ui-state-hover');
            } else {
                $(this).removeClass('ui-state-hover');
            }
        });


        // NETWORK LAYOUT
        $( "button#layout-legend" ).click(function() {
            $(this).toggleClass("ui-state-highlight");
            $( "div#layout-legend-content" ).slideToggle();
        });


        // HISTORY LIST
        $( "#history_"+ version_id).addClass( "ui-state-highlight" );

        $( "ul#history-list li" ).each(function(){
            $( this ).addClass("ui-widget-content");
        });

        $( "#history-list li" ).hover(
            function(){
                $( this ).addClass("ui-state-hover");
            },function(){
                $( this ).removeClass("ui-state-hover");
        });

        $( "ul#history-list div.version-link" ).click(function (e) {
                $(".ui-dialog-content" ).html($( this ).attr('title'));
                $( "#dialog-loading" ).dialog({
                        title: 'Loading... please wait.',
                        resizable: false,
                        modal: true,
                });
                window.location.href = $( this ).find( "a" ).attr('href')
        });

        $( "button#go-versions" ).click(function(e) {
                e.preventDefault();
                if ($( "ul#history-list input" ).is(":checked")) {
                    $( ".versions-form" ).submit();
                };
        });

        // tipTip
        $( ".tipTip-top" ).tipTip({
                delay: 1000,
                defaultPosition: 'top',
        });

        $( ".tipTip-right" ).tipTip({
                defaultPosition: 'right',
        });

        $( ".tipTip-left" ).tipTip({
                defaultPosition: 'left',
        });

        if (neuron_ids.length > 0) {
                    $( "#holder" ).loadLayout( device_list );
                } else {
                    $( "#device-list" ).find( "#device-list-content" ).hide();
                    $( "#holder" ).parents( ".portlet" ).hide();
                    $( "div#connectivity_matrix" ).hide();
                }

    })


</script>

{% endblock %}

{% block title %}{{ network_obj.title }}{% endblock %}

{% block content %}
<div >

    <div style="width: 880px">

        <span id="network_title" style="font-size:1.2em; padding:5px"><strong>{{network_obj.title}}</strong></span>
        &raquo;<span id="network_description" >{{network_obj.description|default:"no description"}}</span>

        <!-- ADMIN VIEW -->
        {% ifequal user.id 1 %}
        <div id="view">
            <div>
            network_id: {{network_obj.id}}
            result_id: {{result_obj.id}}
            device_id: <span id="device_id"></span>
            last_device_id:<span id="last_device_id"></span>
            task_id: <span id="task_id"></span>
            </div>

            <div id="switcher"></div>
        {% endifequal %}

        </div>
    </div>
</div>

{% endblock %}

{% block footer %}

<div>
    <!-- DEVICES -->
    <div class="column" id="devices">

        <!-- DEVICE LIST -->
        <div class="portlet" id="device-list">
            <div class="portlet-header" title="Hover a device to get more parameters or click a enabled device to modify it.">
                Devices
            </div>

            <div class="portlet-content" id="device-list-content">

                <form action="." method="POST" class="devices-form">
                    {% csrf_token %}
                    <table id="device-table">
                        <thead>
                            <tr title="">
                                <th class="delete collapse"></th>
                                <th>Id</th>
                                <th>Device</th>
                                <th>Targets</th>
                                <th>Weight (pA)</th>
                                <th>Delay (ms)</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if network_obj.device_list|length > 0 %}
                                {% for model, status, connections in network_obj.device_list %}
                                    <tr {% if network_obj.SPIC_id == "1" %}
                                            {% if model.type != "neuron" or model.label == 'parrot' %} class="enabled" {% endif %}
                                        {% else %} class="enabled" {% endif %}"
                                        title="{{ status|itemize|default_if_none:'no status'|truncate:"40" }}" id="{{ model.id }}">
                                        <td class="delete collapse"><input type="checkbox" name="device_ids" value="{{model.id}}" {% if network_obj.SPIC_id == "1" and model.type == "neuron" %} disabled {% endif %}></td>
                                        <td class="selectable id"><b>{{ model.id }}</b></td>
                                        <td class="selectable model {% if network_obj.SPIC_id == "1" and model.type == "neuron" %} disabled {% endif %}">
                                            {{ model.label|label_escape:model.type }}
                                        </td>
                                        <td class="selectable targets">
                                        {% if connections.targets %}
                                                {{ connections.targets|truncate:"15"}}
                                        {% else %}
                                                {{ connections.sources|truncate:"15"}}
                                        {% endif %}
                                        </td>
                                        <td class="selectable weight">{{ connections.weight|truncate:"9" }}</td>
                                        <td class="selectable delay">{{ connections.delay|truncate:"9" }}</td>
                                    </tr>
                                 {% endfor %}
                            {% endif %}

                            <tr class="collapse">
                                <td class="delete collapse"></td>
                                <td class="selectable id"></td>
                                <td class="selectable model"></td>
                                <td class="selectable targets"></td>
                                <td class="selectable weight"></td>
                                <td class="selectable delay"></td>
                            </tr>

                        </tbody>

                    </table>

                    <div class="buttons">
                        <button class="delete" id="delete-devices">Delete</button>
                        <button class="check" id="save-devices">Save</button>
                        <button class="help" id="help-network">Help</button>
                    </div>

                    <ul class="messagelist" id="device-message"></ul>

                </form>
            </div>

            <div class="portlet-content" id="device-form-content">
                <div class="field-wrapper" title="">
                    <label for="id_label">Add a device:</label>
                    <select id="id_label">
                        <option value="">--- select a device ---</option>
                        {% for device in device_choices %}
                            <option value="{{device.id_label}}" style="color:{% ifequal device.model_type 'input'%}#467ab3{% else %}#6B4226{% endifequal %}">{{device.id_label|label_escape}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <!-- DEVICE FORMS -->
        <div class="portlet" id="device-form">
            <div class="portlet-header" title="" id="device-form-header">
              <span id="selected_device_id"></span> - <span id="selected_device_label"></span>
            </div>

            {% for forms in device_formsets %}

                <form action="." method="POST" class="portlet-content device-form" id="{{forms.id_label}}">
                    {% csrf_token %}
                    <div id="{{forms.id_label}}-form">
                        {{forms.formsHTML}}
                    </div>

                    <div class="buttons">
                        <button type="submit" class="check" id="submit-device-form">Apply</button>
                        <button type="reset" class="reset" id="reset-device-form">Reset</button>
                    </div>

                </form>
            {% endfor %}
        </div>

    </div>

    <!-- NETWORK -->
    <div class="column" id="network">
        {% if network_obj.connections %}
        <!--     CONNECTIVITY MATRIX  -->
            {% if network_obj.neuron_ids|length <= 10 and network_obj.weight_list %}
                <div class="portlet" id="connectivity_matrix">
                    <div class="portlet-header portlet-toggle" title="">
                        Connectivity matrix
                    </div>

                    <div class="portlet-content">
                        <div id="connections-tabs">
                            <ul>
                                {% if network_obj.weight_list %}<li><a href="#weights-tab"><strong>Weights (pA)</strong></a></li>{% endif %}
                                {% if network_obj.delay_list %}<li><a href="#delays-tab"><strong>Delays (ms)</strong></a></li>{% endif %}
                            </ul>

            <!--                 WEIGHT TAB -->
                            {% if network_obj.weight_list %}
                                <div id="weights-tab">
                                    <table class="connections-table" id="weight-table">
                                        <thead>
                                        <tr><td colspan="{{network_obj.neuron_ids|length|add:2}}"><span class="connections-tabs" id="target_title">Target</span></td></tr>
                                        <tr>
                                            <th></th><th>Id</th>
                                            {% for neuron_id in network_obj.neuron_ids %}
                                                <th class="connections-table" id="weight_{{neuron_id}}">{{ neuron_id }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>

                                        <tbody>
                                            {% for id, weights in network_obj.weight_list %}
                                                <tr id="neuron_{{ id }}">
                                                    {% if forloop.first %}
                                                        <td class="first-col" rowspan="{{network_obj.weight_list|length}}">
                                                            <span class="connections-tabs {% if network_obj.weight_list|length > 3 %}verticaltext{% endif %}" id="source_title">Source</span>
                                                        </td>
                                                    {% endif %}

                                                    <td class="connections-table"><b>{{ id }}</b></td>
                                                    {% for weight in weights %}
                                                        <td class="connections-table">{{ weight }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        <tbody>
                                    </table>
                                </div>
                            {% endif %}


            <!--                 DELAY TAB -->
                            {% if network_obj.delay_list %}
                                <div id="delays-tab">
                                    <table class="connections-table" id="delay-table">
                                        <thead>
                                        <tr><td colspan="{{network_obj.neuron_ids|length|add:2}}"><span class="connections-tabs" id="target_title">Target</span></td></tr>
                                        <tr>
                                            <th></th><th>Id</th>
                                            {% for neuron_id in network_obj.neuron_ids %}
                                                <th class="connections-table" id="delay_{{neuron_id}}">{{ neuron_id }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>

                                        <tbody>
                                            {% for id, delays in network_obj.delay_list %}
                                                <tr id="neuron_{{ id }}">
                                                    {% if forloop.first %}
                                                        <td class="first-col" rowspan="{{network_obj.delay_list|length}}">
                                                            <span class="connections-tabs {% if network_obj.delay_list|length > 3 %}verticaltext{% endif %}" id="source_title">Source</span>
                                                        </td>
                                                    {% endif %}

                                                    <td class="connections-table"><b>{{ id }}</b></td>
                                                    {% for delay in delays %}
                                                        <td class="connections-table">{{ delay }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        <tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}


        <!--     SIMULATION -->
            <form action="." method="POST" class="portlet" id="network-form">
                <div class="portlet-header" title="Before you start it, be sure that you have saved devices.">
                    Simulation
                </div>

                <div class="portlet-content">
                    {% csrf_token %}

                    <div class="network-form-content">
                        {% if network_form.fieldsets %}
                            {% for fieldset in network_form.fieldsets %}
                                <div class="{{ fieldset.classes }}">
                                {% if fieldset.description %}
                                    <p class="description">{{ fieldset.description }}</p>
                                {% endif %}
                                {% for field in fieldset %}
                                    {% if field.is_hidden %}
                                    {{ field }}
                                    {% else %}
                                    <div class="field-wrapper" title="{{ field.help_text }}" >
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ network_form.as_div }}
                        {% endif %}
                    </div>

                    <div class="buttons">
                        <button type="submit" class="play" id="submit-network-form">Save & simulate</button>
                        <!--{% with network_form.fieldsets.fieldsets|last|last as advanced %}
                            {% if advanced.fields|length > 1 %}
                                {% if 'collapse' in advanced.classes %}
                                    <button class="toggle" id="toggle-device-form">Expand</button>
                                {% else %}
                                    <button class="toggle ui-state-highlight" id="toggle-device-form">Collapse</button>
                                {% endif %}
                            {% endif %}
                        {% endwith%}-->
                        <div style="float:right" id="task_status"></div>
                    </div>
                </div>
            </form>
        {% endif %}

    </div>

    <!-- GUI -->
    {% if network_obj.devices_json %}
        <div class="column" id="GUI">
            <div class="portlet" id="network_layout">
                <div class="portlet-header portlet-toggle" title="">
                    Network layout
                    <span class="ui-icon dialog ui-icon-newwin" style="float:right"></span>
                </div>

                <div class="portlet-content">
                    <div id=holder></div>

                    <div class="buttons">
                        <button class="check" id="save-layout">Save</button>
                        <button class="reset" id="default-layout">Default</button>
                        <button id="layout-legend">Legend</button>
                        <small style="float:right" id="position"></small>
                    </div>

                </div>

                <div class="portlet-content collapse" id="layout-legend-content">
                    <p><b>blue line</b> - excitatory connection</p>
                    <p><b>red line</b> - inhibitory connection</p>
                    <p><b>left dot</b> - then neuron receives external input.</p>
                    <p><b>right dot</b> - then neurons are being recorded.</p>
                    <br>
                    <p><b>NOTE</b>: neurons can be dragged around.</p>
                </div>
            </div>

            {% if comment_form %}
                <form action="." method="POST" class="portlet" id="comment-form">
                    <div class="portlet-header portlet-toggle" title="">
                        Comment
                    </div>

                    <div class="portlet-content">
                        {% csrf_token %}

                        <div class="comment-form-content field-wrapper" title="Here you can enter a short description of what you did in order to relate to the simulation in the future.">
                            {{ comment_form.comment }}
                        </div>

                        <div class="buttons">
                            <button type="submit" class="check" id="submit-comment-form">Save</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    {% endif %}

    <!-- RESULTS -->
    <div class="column" >

    <!--     SIMULATION HISTORY -->
        <div class="portlet" id="history">
            <div class="portlet-header portlet-toggle" title="Click a simulated network version to load it.">
                History
            </div>

            <div class="portlet-content">

                <form action="." method="POST" class="versions-form">
                    {% csrf_token %}
                    <ul class="pager" id="history-list">
                        {% for version in versions %}
                            {% with version.revision.result as result %}
                            <li class="tipTip-left"
                                title="{{version.revision.result.comment|default_if_none:'no comment'}}" id="history_{{version.revision.result.local_id|default:0}}">
                                <input style="float:right" type="checkbox" name="version_ids" value="{{version.id}}" {% if forloop.last %} disabled {% endif %}>
                                {% if result.favorite %}<div class="ui-icon ui-icon-star" style="float:right"></div>{% endif %}
                                <div class="version-link">
                                    <a href="{% url network_simulated network_obj.SPIC_id network_obj.local_id version.revision.result.local_id|default:0 %}?version=revert" id="{{version.revision.result.local_id}}">
                                        {% if forloop.last %}
                                            Initial version of network
                                        {% else %}
                                            {% if result %}
                                                <b>{{ result.local_id }}</b> -
                                                {% if result.date_simulated %}
                                                    {% if result.has_spike_detector %} [Sd] {% endif %}
                                                    {% if result.has_voltmeter %} [Vm] {% endif %}
                                                    - {{ result.date_simulated|timesince }} ago
                                                {% else %}
                                                    no simulation
                                                {% endif %}
                                            {% else %}
                                                NaN - no result found
                                            {% endif %}
                                        {% endif %}
                                    </a>
                                </div>
                            </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>

                   <div class="buttons field-wrapper" title="" >
                        <button class="go" id="go-versions" style="float:right">Go</button>
                        <form action="#">
                            <select name="action" id="versions-select">
                                <option>Select an action</option>
                                <option value="delete">Delete</option>
                                <option value="favorite">Mark as favorite</option>
                                <option value="unfavorite">Unmark as favorite</option>
                            </select>

                        </form>
                    </div>
                </form>
            </div>
        </div>

    <!--     RESULT_DATA -->
        {% if result_obj.has_spike_detector or result_obj.has_voltmeter %}
            <div class="portlet">
                <div class="portlet-header portlet-toggle" title="Simulation was succeed. So you can explore the view of results.">
                    Results
                </div>

                <div class="portlet-content">
                    <div id="results-tabs">
                        <ul>
                            {% if result_obj.has_spike_detector %}
                                <li><a href="#spike_detector-tab" class="spike_detector-tab">Spike Detector</a></li>
                            {% endif %}
                            {% if result_obj.has_voltmeter %}
                                <li><a href="#voltmeter-tab" class="voltmeter-tab-header">Voltmeter</a></li>
                            {% endif %}
                        </ul>

            <!--             SPIKE DETECTOR TAB -->
                        <div id="spike_detector-tab">
                            {% if result_obj.has_spike_detector %}
                                <div>
                                    <iframe scrolling="no" src="{% url spike_detector result_obj.id %}?view=small" id="SpikeDetectorThumbnail"></iframe>
                                </div>

                                <div class="buttons">
                                    <button class="zoomin" id="spike_detector-link">Larger view</button>
                                </div>
                            {% endif %}
                        </div>

            <!--             VOLTMETER TAB -->
                        <div id="voltmeter-tab">
                            {% if result_obj.has_voltmeter %}
                                <div>
                                    {% if result_obj.voltmeter_points < 15000 %}
                                        <iframe src="{% url voltmeter_thumbnail result_obj.id %}" id="VoltmeterThumbnail"></iframe>
                                    {% else %}
                                        The number of points is too big.
                                    {% endif %}
                                </div>

                                <div class="field-wrapper" title="">
                                    <label for="voltmeter-select">View larger screen</label>
                                    <select id="voltmeter-select">
                                        <option>--- Select a neuron ---</option>
                                        {% for model, status, params in result_obj.voltmeter_targets %}
                                            <option value="/result/{{result_obj.id}}/voltmeter/?neuron={{model.id}}" name="Neuron [{{model.id}}]">
                                                Neuron [{{model.id}}]
                                            </option>
                                        {% endfor %}
                                    </select>

                                    <div class="buttons">
                                        <button class="reset" id="reload">Reload</button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="buttons">
                            <a class="document" href="{% url data result_obj.id %}">Download Results</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>


    <!-- POPUP DIALOG -->
    <div id="ui-dialog">
        <div class="ui-dialog" title="result view" id="dialog-resultView">
            <iframe class="resultView" scrolling="no"></iframe>
        </div>

        <div class="ui-dialog" id="dialog-loading">
            <p>
                <span class="ui-dialog-content"></span>
            </p>
        </div>

        <div class="ui-dialog" title="Confirm to simulate?" id="dialog-confirmSimulation">
            <p></p>
        </div>

        <div class="ui-dialog" id="dialog-simulating">
        </div>


        <div class="ui-dialog" id="step-helper">
            <h2 class="delimiter">Ten steps to work with SPIC</h2>
            <ol>
                <li>Add <b>new devices</b> and set their status.</li>
                <li>Once done, save the <b>device table</b>.</li>
                <li>Explore the <b>network layout</b>.</li>
                <li>Explore the <b>connectivity matrix</b>.</li>
                <li>Modify <b>the devices</b> if necessary save the table.</li>
                <li>Run the <b>simulation</b>.</li>
                <li>View the <b>results</b>.</li>
            </ol>

            Each successful simulation appears in the history list. The same list can be used to retrieve past simulations together with the results.
            The recorded events (spikes, membrane potential etc.) are plotted online. They can also be downloaded as text files.

            <h4>Optional:</h4>
            Add comments to each simulation describing what you did it, why you did it, what were the results etc. This will help also when retrieving old simulations.

            <p>Give some feedback in the forum.</p>

        </div>


    </div>
</div>

{% endblock %}