{% extends "base.html" %}

{% load webapp_filters %}
{% load network_filters %}
{% load humanize %}

{% block title %}{{ SPIC_obj.title }} - {{ network_obj.local_id }}{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-tour.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/network.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/d3_layout.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/d3_result.css" />
    <style type="text/css">
        {% ifequal SPIC_obj.group '1' %}
            #node-add .neuron {
                display: none
            }
        {% endifequal %}
    </style>
{% endblock %}


{% block content %}

    {% include 'network_nav.html' %}

    <div id="global_warning" class="container alert alert-warning hide fade col-xs-10 col-xs-offset-1">
        <a class="close" data-dismiss="alert" href="#"><i class="fa fa-remove"></i></a>
        <div class="col-xs-1 col-xs-offset-1"><i class="fa fa-exclamation-triangle fa-3x"></i></div>
        <div class="col-xs-8 alert-content"></div>
    </div>

    {% include 'network_content.html' %}

    <!-- Modal message -->
    <div id="dialog-msg" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="dialog-msg-title" class="modal-title">Network messenger</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-2"><img src="/static/images/special/bcf_logo-animation.gif" style="height:80px"></div>
                        <div id="dialog-msg-content" class="col-xs-6"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div id="dialog-msg-simulation-confirm" class="button">
                        <a href="#" class="btn btn-primary" onclick="simulate()">Yeah!</a>
                        <a href="#" class="btn btn-default" data-dismiss="modal" >No</a>
                    </div>
                    <div id="dialog-msg-warning" class="button">
                        <a href="#" class="btn btn-default" data-dismiss="modal" >Ok</a>
                    </div>
                    <div id="dialog-msg-pending" class="button">
                        <span id="task_status" class="label label-info"><i class="fa fa-circle-o-notch fa-spin"></i><span id="task_status"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}{% endblock %}

{% block extrascript %}

    <script type="text/javascript" src="/static/js/vendor/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/json2.js"></script>
    <!-- // <script type="text/javascript" src="/static/js/plugins/js.cookie.js"></script> -->
    <script type="text/javascript" src="/static/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/plugins/bootstrap-tour.js"></script>

    <script type="text/javascript">
        $.cookie.json = true;
        var options = ($.cookie('options') ? $.cookie('options') : {
            layout: {
                width: 500.0,
                height: 360.0,
                linkDistance: 150.0,
                charge: -500.0,
                links: {
                    display: {
                        pre: false,
                        post: true,
                        weight: false,
                    },
                    curve: 'right',
                },
                nodes: {
                    fixed: true,
                    display: {
                        neuron: true,
                        input: true,
                        output: true,
                        position: false,
                    },
                },
            },
            raster_plot: {
                width: 400.0,
                height_per_neuron: 18.0,
            },
            histogram: {
                width: 400.0,
                height: 120.0,
                binwidth: 50.0,
            },
            smoothed_histogram: {
                width: 400.0,
                height: 120.0,
                kernel_function: 'gauss',
                kw: 10.0,
                fac: 1.0,
            },
            correlation: {
                width: 400.0,
                height: 120.0,
            },
            voltmeter: {
                width: 400.0,
                height: 80.0,
            },
        });

        var SPIC_group = {{ SPIC_obj.group }},
            SPIC_local_id = {{ SPIC_obj.local_id }};

        var network_id = {{ network_obj.id }},
            local_id = {{ network_obj.local_id }},
            csrf_token = "{{ csrf_token }}",
            simulation_stop = {{ network_obj.duration|safe }};

        var nodes = {{ network_obj.nodes|safe }},
            links = {{ network_obj.links|safe }};

        var lastNodeId = nodes.length > 1 ? nodes[nodes.length-1].id : 0;
        var nodes_uid = [];
        nodes.forEach(function(node) {
            node.fixed = options.layout.nodes.fixed;
            node.x = node.x * options.layout.width;
            node.y = node.y * options.layout.height;
            nodes_uid.push(node.uid);
        });

        links.forEach(function(link) {
            link.source = nodes[nodes_uid.indexOf(link.source)];
            link.target = nodes[nodes_uid.indexOf(link.target)];
        });

        var selected_model = null;

        // Forms
        var node_form = $("#id-node-form"),
            link_form = $("#id-link-form"),
            network_form = $("#id-network-form");

        {% if task_id %}
            var task_id = "{{task_id|safe}}";
        {% else %}
            var task_id;
        {% endif %}

        // Results
        var data = {};
        data['voltmeter'] = {{ network_obj.voltmeter_data|safe }};
        data['spike_detector'] = {{ network_obj.spike_detector_data_index|safe }};

        var msg = {{ SPIC_obj.msg|safe }};
        var tour_steps = {{ SPIC_obj.tooltip|safe }}

        $(document).ready(function() {
            active_buttons();

            initiate_layout("#layout-holder");
            update_after_change();

            if (data.voltmeter.meta.neurons.length > 0) {
                draw_voltmeter("#voltmeter_holder");
            }

            $( "#voltmeter-holder .voltmeter").addClass('active');

            if (data.spike_detector.meta.neurons.length > 0) {
                draw_spike_detector("#spike_detector");
            }

            $( "#results-tabs .tabs").find(".tab").first().parent().addClass('active');
            $( "#results-tabs .tab-content").find(".tab-pane").first().addClass('active');

            if ('content' in msg) {
                show_msg(msg.title, msg.content, 'warning');
            }

        });
    </script>
    <script type="text/javascript" src="/static/js/d3/layout.js"></script>

    {% if network_obj.has_spike_detector %}
        <script type="text/javascript" src="/static/js/d3/raster_plot.js"></script>
        <script type="text/javascript" src="/static/js/d3/histogram.js"></script>
        <script type="text/javascript" src="/static/js/d3/smooth_histogram.js"></script>
        <script type="text/javascript" src="/static/js/d3/correlation.js"></script>
        <script type="text/javascript" src="/static/js/d3/spike_detector.js"></script>
    {% endif %}

    {% if network_obj.has_voltmeter %}
        <script type="text/javascript" src="/static/js/d3/voltmeter.js"></script>
    {% endif %}
    <script type="text/javascript" src="/static/js/network/interaction.js"></script>
    <script type="text/javascript" src="/static/js/network/validation.js"></script>
    <script type="text/javascript" src="/static/js/network/simulation.js"></script>
    <script type="text/javascript" src="/static/js/network/events.js"></script>
{% endblock %}
