{% extends "base.html" %}
{% load humanize %}
{% load network_filters %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
        <div class="flatpage">

            <div>
                {% regroup network_list|dictsort:"SPIC_id" by SPIC_id as network_by_SPIC %}

                {% for group in network_by_SPIC %}
                    {{ flatpage.content|split:forloop.counter0 }}

                    <ul>
                        {% for network in group.list %}
                            <li id="{{ network.local_id }}">
                            <a href="{% url network network.SPIC_id network.local_id %}">
                                {{ network.title|default_if_none:"Network" }}
                            </a>
                            : {{ network.description|default:"no description" }}
                            </li>
                        {% endfor %}
                    </ul>

                {% endfor %}
            
                {{ flatpage.content|split:-2 }}
                {{ flatpage.content|split:-1 }}
            </div>
        </div>


{% endblock %}