{% extends "base.html" %}

{% load lib_filters %}
{% load network_filters %}
{% load network_tags %}
{% load humanize %}

{% block extrahead %}

    <link href="{{ MEDIA_URL }}css/network.css" type="text/css" rel="stylesheet" />


    <style type="text/css">
        body { overflow: hidden}

        #content {
            overflow: hidden;
            margin-bottom: -1;
            min-height: 0;
            border-bottom: 1px solid #FAFAF9;
        }

        #container {
            overflow: hidden;
            position: absolute;
            width: 1600px;
            left: 0;
            padding: 5px 10px;
            margin: 5px 10px;
            z-index:-1;
        }

        #footer {
            display: none;
        }
    </style>

    <script type="text/javascript">

        $(function() {
            $( "iframe" ).css('height', window.innerHeight-177);
            $( "#container" ).css('height', window.innerHeight-170);
            $( "#container" ).css('width', window.innerWidth-40);

        });

    </script>

{% endblock %}

{% block title %}{{ SPIC_obj.title }} - split view {% endblock %}


{% block content %}
    <div style="float:right; margin-right: 10px">
        <a href="{% url network SPIC_obj.group SPIC_obj.local_id left_local_id %}">
            switch view
        </a>
    </div>

    <div class="banner">
        <a href="{% url network_list %}">Network</a>

        <span id="network_title" style="font-size:1.2em; padding:5px"><strong>&raquo; {{ SPIC_obj.title }}</strong></span>
        &raquo; <span id="network_description" >{{ SPIC_obj.description|default:"no description" }}</span>
    </div>

<div id="container">
    <div class="twocolumns left">
        <iframe src="{% url network_mini SPIC_obj.group SPIC_obj.local_id left_local_id %}" style="margin: 0; width:100%"></iframe>
    </div>

    <div class="twocolumns left">
        <iframe src="{% url network_mini SPIC_obj.group SPIC_obj.local_id right_local_id %}" style="margin: 0; width:100%"></iframe>
    </div>
</div>

{% endblock %}
