{% extends "base.html" %}

{% load lib_filters %}
{% load network_filters %}
{% load network_tags %}
{% load humanize %}

{% block extrahead %}

<link href="{{ MEDIA_URL }}css/nuspic/jquery-ui-1.8.14.custom.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/jquery-ui.custom.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/network.css" type="text/css" rel="stylesheet" />
<link href="{{ MEDIA_URL }}css/tipTip.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/json2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/network.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/quickpager.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/raphael-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/raphael-networkLayout.js"></script>

<script type="text/javascript">
    var device_list = {{ network_obj.device_list|safe }},
    neuron_ids = {{ network_obj.neuron_ids|safe }},
    edgelist = {{ network_obj.edgelist|safe }},
    connect_to_input = {{ network_obj.connect_to_input|safe }},
    connect_to_output = {{ network_obj.connect_to_output|safe }},
    layoutSize = {{ network_obj.layout_size|safe }},
    last_device_id = {{ network_obj.last_device_id|safe }};

    var result_id = {{ result_id|safe }},
    selected_device_id,
    task_id;


    $(function() {

            $( ".column" ).sortable({
                    cancel: ".portlet-content",
                    connectWith: ".column",
                    cursor: 'move',
                    opacity: 0.7,
            });

            $( ".portlet" ).loadTheme({"tipTip":true});

            $( ".portlet-content" ).addClass( "ui-corner-all" )
            $( ".pager li" ).addClass("ui-corner-all")
            $( "input" ).addClass("ui-corner-all")
            $( "textarea" ).addClass("ui-corner-all")
            $( "select" ).addClass("ui-corner-all")

            // ADMIN
            $( "span#device_id" ).html(selected_device_id);
            $( "span#last_device_id" ).html(last_device_id);


    });


    $(document).ready(function() {

        // CONTENT HEADER
        $( "#banner" ).css("background", "url(/media/images/special/nuspic_banner_small.png) no-repeat")
                .css('height','85px')
                .css('width', '880px');

        // tipTip
        $( ".tipTip-top" ).tipTip({
                delay: 1000,
                defaultPosition: 'top',
        });

        $( ".tipTip-right" ).tipTip({
                defaultPosition: 'right',
        });

        $( ".tipTip-left" ).tipTip({
                defaultPosition: 'left',
        });

    });

</script>

{% endblock %}

{% block title %}{{ network_obj.title }}{% endblock %}


{% block content %}

<div style="width: 880px">

    <span id="network_title" style="font-size:1.2em; padding:5px"><strong>{{network_obj.title}}</strong></span>
    &raquo;<span id="network_description" >{{network_obj.description|default:"no description"}}</span>

    <!-- ADMIN VIEW -->
    {% ifequal user.id 1 %}
    <div id="view">
        <div>
        network_id: {{network_obj.id}}
        result_id: {{result_obj.id}}
        device_id: <span id="device_id"></span>
        last_device_id:<span id="last_device_id"></span>
        task_id: <span id="task_id"></span>
        </div>

        <div id="switcher"></div>
    {% endifequal %}

    </div>

</div>

{% endblock %}


{% block footer %}

<div id="container">

<!-- COLUMN 1 -->
    <div class="column" id="devices">

<!--         DEVICE LIST -->
        {% include "device_list.html" %}

<!--         DEVICE FORMS -->
        {% include "device_formsets.html" %}

    </div>


<!-- COLUMN 2 -->
    {% if network_obj.connections %}
        <div class="column" id="network">

<!--             CONNECTIVITY MATRIX   -->
            {% include "connectivity_matrix.html" %}

<!--             SIMULATION -->
            {% include "simulation.html" %}

        </div>
    {% endif %}


<!-- COLUMN 3 -->
    {% if network_obj.devices_json %}
        <div class="column" id="GUI">

<!--             NETWORK LAYOUT -->
            {% include "network_layout.html" %}

<!--             COMMENT FORM -->
            {% include "comment_form.html" %}

        </div>
    {% endif %}


<!-- COLUMN 4 -->
    <div class="column" >

<!--         SIMULATION HISTORY -->
        {% include "history.html" %}

<!--            RESULT_DATA-->
        {% include "result.html" %}

    </div>

</div>


<!-- POPUP DIALOG -->
<div class="ui-dialog" id="dialog-msg" title="Network messenger">

    <p id="dialog-msg"></p>

    <div style="width:220px; margin:auto; padding:12px; display:none" id="loading_icon">
        <img src="/media/images/icons/ajax-loader_bar.gif">
    </div>

</div>

{% endblock %}