<div id="network-content">

    <div class="col-sm-4">
        <!-- Nodes -->
        <div id="nodes-list" class="panel panel-default">

            <div class="panel-heading" title="Hover a node to get more parameters or click a enabled device to modify it.">
                <h3 class="panel-title">Nodes</h3>
            </div>
            <table id="nodes-table" class="table table-striped table-hover table-condensed"></table>
        </div>

        <!-- Forms -->
        <div class="container-fluid">
            <!-- Node forms -->
            <form id="id-node-form" class="form-horizontal row hide fade" action="#">
                <div id="div_id_model" class="form-group">
                    <label class="control-label col-sm-5" for="id_model">{{ node_form.fields.model.label }}</label>
                    <div class="controls col-sm-7">
                        <select id="id_model" class="form-control">
                            {% for id,label,class in node_form.fields.model.choices %}
                                <option class="{{ class }}" id="{{ id }}" value="{{ id }}" >{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div id="div_id_synapse" class="form-group">
                    <label class="control-label col-sm-5" for="id_synapse">{{ node_form.fields.synapse.label }}</label>
                    <div class="controls col-sm-7">
                        <select id="id_synapse" class="form-control">
                            {% for id,label in node_form.fields.synapse.choices %}
                                <option id="{{ id }}" value="{{ id }}" >{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% for field in node_form %}
                    {% if field.html_name != 'model' and field.html_name != 'synapse' %}
                    <div id="div_{{ field.auto_id }}" class="form-group hide fade">
                        <label class="control-label col-sm-5" for="{{ field.auto_id }}">{{ field.label }}</label>
                        <div class="controls col-sm-7">
                            {{ field }}
                            {{ field.errors }}
                            <div class="help-block">{{ field.help_text }}</div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <button class="form-actions btn btn-default" type="submit">Save</button>
            </form>

            <!-- Link forms -->
            <form id="id-link-form" class="form-horizontal row hide fade" action="#">
                {% for field in link_form %}
                    <div class="form-group">
                        <label class="control-label col-sm-5" for="{{ field.auto_id }}">{{ field.label }}</label>
                        <div class="controls col-sm-7">
                            {{ field }}
                            {{ field.errors }}
                            <div class="help-block">{{ field.help_text }}</div>
                        </div>
                    </div>
                {% endfor %}
                <button class="form-actions btn btn-default" type="submit">Save</button>
            </form>
        </div>
    </div>

    <div class="col-sm-4" >
        {% include "d3_layout.html" %}

        <!-- Connection matrix -->
        <div id="connection_matrix">

            <ul class="nav nav-tabs tabs">
                <li class="active"><a href="#weight-tab" data-toggle="tab">Weights (pA)</a></li>
                <li><a href="#delay-tab" data-toggle="tab">Delays (ms)</a></li>
            </ul>

            <div class="tab-content">
                <div id="weight-tab" class="tab-pane active">
                    <table id="weights-table" class="table table-striped table-bordered table-hover table-condensed tab-pane active"></table>
                </div>

                <div id="delay-tab" class="tab-pane">
                    <table id="delays-table" class="table table-striped table-bordered table-hover table-condensed"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="container-fluid">
            <form id="id-network-form" class="form-horizontal">
                {% csrf_token %}

                {% for field in network_form %}
                    <div id="div_{{ field.auto_id }}" class="form-group {% if field.is_hidden %}hide fade{% endif %}">
                        <label class="control-label col-sm-5" for="{{ field.auto_id }}">{{ field.label }}</label>
                        <div class="controls col-sm-7">
                            {{ field }}
                            {{ field.errors }}
                            <div class="help-block">{{ field.help_text }}</div>
                        </div>
                    </div>
                {% endfor %}
                <button class="form-actions btn btn-primary" type="submit">Save & simulate</button>
            </form>
        </div>

        {% include "result.html" %}
    </div>
</div>
