<div class="portlet hide fade">
    <form action="#" class="form-horizontal" id="node-form">
        <div class="portlet-header">
            <h3>
                <span>Node Status Editor</span>
                <div class="pull-right">
                    <button type="button" class="btn bing"><i class="icon-chevron-up"></i></button>
                    <button type="button" class="btn bing hide fade"><i class="icon-chevron-down"></i></button>
                </div>
            </h3>
        </div>

        <div class="portlet-body">
            {% csrf_token %}

            <div class="fieldWrapper control-group">
                <label class="control-label" for="id_model">{{ node_form.fields.model.label }}</label>
                <div class="controls">
                    <select id="id_model">
                    {% for id,label,class in node_form.fields.model.choices %}
                        <option class="{{ class }}" id="{{ id }}" value="{{ id }}" >{{ label }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

            <div class="fieldWrapper control-group">
                <label class="control-label" for="id_synapse">{{ node_form.fields.synapse.label }}</label>
                <div class="controls">
                    <select id="id_synapse">
                    {% for id,label in node_form.fields.synapse.choices %}
                        <option id="{{ id }}" value="{{ id }}" >{{ label }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

            {% for field in node_form %}
                {% if field.html_name != 'model' and field.html_name != 'synapse' %}
                <div class="fieldWrapper control-group hide fade">
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="controls">
                        <div class="{% if field.help_text%}input-append{% endif %}">
                            {{ field }}
                            {% if field.help_text %}<span class="add-on" value="{{ field.help_text }}">?</span>{% endif %}
                        </div>
                        <div class="help_text">{{ field.help_text }}</div>
                        {{ field.errors }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="portlet-footer" style="padding: 10px; border-top: 1px solid #DDDDDD">
            <div class="btn-group">
                <button type="submit" class="check btn" id="submit-node-form-button">Apply</button>
                <button type="reset" class="reset btn" id="reset-node-form-button">Reset</button>
            </div>
        </div>
    </form>
</div>
