<html>
    <head>
        <title>Scatterplot</title>
        <link rel="stylesheet" href="/media/css/default.css"></link>
        <link rel="stylesheet" href="/media/css/result.css"></link>

        <script type="text/javascript" src="/media/js/jquery.min.js?ver=1.7.1"></script>
        <script type="text/javascript" src="/media/js/jquery.spinedit.js"></script>
        <script type="text/javascript" src="/media/js/protovis.min.js"></script>
        <script type="text/javascript" src="/media/js/protovis.spike_detector.js"></script>

    </head>

    <body>
        <div id="center">
            <div id="fig">
                <span id="chart"></span>

                <script type="text/javascript+protovis">
   
                    /* Data of Spikes. */ 
                    var senders = {{ senders|safe }},
                    times = {{ times|safe }},
                    simTime = {{ simTime|safe }},
                    neuronScale = {{ neuronScale|safe }},
                    lenNeuronScale = {{ neuronScale|length }}
                    neurons = {{ neurons|safe }},
                    fig = {{ fig|safe }};

                    if (simTime > 5000.) {
                        var smooth_method = 'step'
                    } else if (simTime > 1000.) {
                        var smooth_method = 'triangle'
                    } else {
                        var smooth_method = 'gauss'
                    }
                     $('input[name=smooth_method]').attr("checked", true);

                    var nr_spikes = 1000,
                    kw = 100;

                    /* Size of panels. */
                    var w = fig.w,
                    h1 = lenNeuronScale * 10,
                    h2 = fig.h2,
                    h = h1 + 30 + h2;

                    $( "#fig" ).css("width", fig.width);

                    /* Scales of PSTH panel */
                    var xScale = pv.Scale.linear(0, simTime).range(0, w),
                    yScale = pv.Scale.linear(1,lenNeuronScale).range(0, h1);

                    var psth = psth_calc(1);
                    var psth_smooth = smooth(smooth_method, 1000);  
                    var psth_ymax = pv.max(psth_smooth, function(d) {return d+1});
                    var psth_yScale = pv.Scale.linear(0, psth_ymax).range(0, h2);

                    /* The root panel. */
                    var vis = new pv.Panel()
                        .width(w)
                        .height(h)
                        .top(20)
                        .right(15) 
                        .bottom(15)
                        .left(30)
                        .canvas("#chart");

                    /* The spike panel. */
                    var spikes_panel = vis.add(pv.Panel)
                        .top(0)
                        .height(h1);    

                    /* Y-axis and ticks. */
                    spikes_panel.add(pv.Rule)
                        .data(neuronScale)
                        .top(yScale)
                        .strokeStyle("rgbs(0,0,0,0)")
                      .anchor("left").add(pv.Label)
                        .text(function () {return neurons[this.index]});

                    /* The dot plot! */
                    spikes_panel.add(pv.Dot)
                        .data(times)
                        .left(function(d) {return xScale(d)})
                        .top(function() {return yScale(senders[this.index])})
                        .strokeStyle("#000")
                        .fillStyle("#000")
                        .size(1);

                    spikes_panel.add(pv.Label)
                        .top(-5)
                        .textBaseline("bottom")
                        .left(-28)
                        .textAlign("left")
                        .textStyle("grey")
                        .text("neuron id");

                    spikes_panel.add(pv.Label)
                        .top(-5)
                        .textBaseline("bottom")
                        .right(0)
                        .textAlign("right")
                        .textStyle("grey")
                        .text(senders.length +" spikes");


                    /* The PSTH panel */
                    var psth_panel = vis.add(pv.Panel)
                        .bottom(10)
                        .height(h2);

                    
                    var psth_y = psth_panel.add(pv.Rule)
                        .data(function() {return psth_yScale.ticks(fig.yticks)})
                        .bottom(psth_yScale)
                        .strokeStyle(function(d) {return d ? "#eee" : "#000"});

                    psth_y.anchor("left").add(pv.Label)
                        .text(psth_yScale.tickFormat);
                        
                    psth_panel.add(pv.Rule)
                        .data(function() {return xScale.ticks(fig.xticks)})
                        .left(xScale)
                        .strokeStyle(function(d) {return d ? "#eee" : "#000"})
                      .anchor("bottom").add(pv.Label)
                        .text(xScale.tickFormat);

                    psth_panel.add(pv.Label)
                        .top(-1)
                        .textBaseline("bottom")
                        .left(w/2)
                        .textAlign("center")
                        .text("PSTH");

                    /* X-axis label */
                    psth_panel.add(pv.Label)
                        .bottom(-10)
                        .textBaseline("top")
                        .left(w/2)
                        .textAlign("center")
                        .textStyle("grey")
                        .text("Time (ms)");

                    psth_panel.add(pv.Label)
                        .top(-1)
                        .textBaseline("bottom")
                        .left(-10)
                        .textAlign("left")
                        .textStyle("grey")
                        .text("Hz");
                        
                    var psth_line = psth_panel.add(pv.Line)
                        .data(function() {return psth_smooth})
                        .left(function(d) {return xScale(this.index)})
                        .bottom(function(d) {return psth_yScale(d)})
                        .strokeStyle("#000")
                        .lineWidth(3);
                //         .fillStyle("rgba(0, 0, 0, 0) ");
                //         .interpolate("cardinal");
                    vis.render()

                    $( "input#kernel_width" ).on("change mouseup DOMMouseScroll", function () { 
                        kw = parseFloat($(this).val());

                        psth_smooth = smooth(smooth_method, 1000);
                        psth_ymax = pv.max(psth_smooth, function(d) {return d+1})
                        psth_yScale.domain(0, psth_ymax).nice();
                        vis.render();
                    });

                    $( "input.smooth_method" ).on("change", function() {
                        smooth_method = $('input[name=smooth_method]:checked').val()
                        psth_smooth = smooth(smooth_method, 1000);
                        psth_ymax = pv.max(psth_smooth, function(d) {return d+1});
                        psth_yScale.domain(0, psth_ymax).nice();
                        vis.render();
                    })

                    $(function() {
                        $( "input#kernel_width" ).SpinEdit({'min': 1, 'max': 1000, 'step': 5}).val(kw);
                    });

                </script>

                <p>
                    <label for "kernel_width">Kernel width:</label>
                    <input type="text" class="spinedit" id="kernel_width"/> ms
                </p>

                <p>
                    <span>Smooth method:</span>
                    <input type="radio" class="smooth_method" name="smooth_method" value="step"> Step
                    <input type="radio" class="smooth_method" name="smooth_method" value="triangle"> Triangle
                    <input type="radio" class="smooth_method" name="smooth_method" value="gauss"> Gauss
                </p>

            </div>
        </div>
    </body>
</html>
