<div class="portlet">
    <form action="." method="POST" class="form-horizontal" id="network-form">
        {% csrf_token %}

        <div class="portlet-header" title="Before you start it, be sure that you have saved devices.">
            <h3>
                <span>Simulation</span>
                <div class="pull-right">
                    <button type="button" class="btn bing"><i class="icon-chevron-up"></i></button>
                    <button type="button" class="btn bing hide fade"><i class="icon-chevron-down"></i></button>
                </div>
            </h3>
        </div>

        <div class="portlet-body">

            {% for hidden in network_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="control-group fieldWrapper {% if network_form.duration.help_text %}input-append{% endif %}">
                <label class="control-label" for="{{ network_form.duration.auto_id }}">{{ network_form.duration.label }}</label>
                <div class="controls">
                    <div class="{% if field.help_text%}input-append{% endif %}">
                        {{ network_form.duration }}
                        {% if network_form.duration.help_text %}
                            <span class="add-on">?</span>
                        {% endif %}
                    </div>
                    <div class="help_text">{{ network_form.duration.help_text }}</div>
                    {{ network_form.duration.errors }}
                </div>
            </div>

            <div class="control-group fieldWrapper">
                <label class="control-label" for="{{ network_form.same_seed.auto_id }}">{{ network_form.same_seed.label }}</label>
                <div class="controls">
                    {{ network_form.same_seed }}
                </div>
            </div>

        </div>

        <div class="portlet-footer">
            <div class="buttons">
                <button type="submit" class="btn btn-primary" data-loading-text="Loading..." id="submit-network-form" >Save & simulate</button>
                <span>
                    {{ network_form.overwrite }}
                    <label for="{{ network_form.overwrite.auto_id }}" style="display:inline; vertical-align: middle">{{ network_form.overwrite.label }}</label>
                </span>
            </div>
        </div>

    </form>

</div>

<div id="dialog-msg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dialog-msg-label" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="dialog-msg-title">Network messenger</h3>
    </div>

    <div class="modal-body">
        <div class="logo-animation"><img src="/media/images/icons/bcf_logo-animation.gif" ></div>
        <div class="msg-content"></div>
    </div>

    <div class="modal-footer">
        <div class="confirm hide fade">
            <a href="#" class="btn btn-primary" onclick="simulate()">Yeah!</a>
            <a href="#" class="btn" data-dismiss="modal" >No</a>
        </div>
        <div class="warning">
            <a href="#" class="btn ok" data-dismiss="modal" >Ok</a>
        </div>
        <span id="task_status" class="label label-info"></span>
    </div>
</div>
