{% extends "base.html" %}

{% block title %}Password change{% endblock %}

{% block extrahead %}
    <style type="text/css">
        .field-box {
            width: 92%;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Password change</h2>
    
    <p>
        Please enter your old password, for security's sake, and then enter your new password twice
        so we can verify you typed it in correctly.
    </p>
    
    <form method="post" action="." id="password-change-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <div class="field-wrapper">

                    <div class="label_tag">
                        {{ field.label_tag }}:
                    </div>

                    {{ field.errors }}
                    <div class="field-box">
                        {{ field }}
                    </div>
                    <button class="ui-corner-right help_text" title="{{ field.help_text }}">?</button>
                </div>
            {% endif %}
        {% endfor %}
        
        <input type="submit" value="Change my password" />
    </form>
{% endblock %}
