{% extends "base.html" %}

{% block title %}Password change{% endblock %}

{% block content %}
    <h2>Password change</h2>
    
    <p>
        Please enter your old password, for security's sake, and then enter your new password twice
        so we can verify you typed it in correctly.
    </p>
    
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        {% for field in form %}
            <div>
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
        {% endfor %}
        
        <input type="submit" value="Change my password" />
    </form>
{% endblock %}
