{% extends "base.html" %}

{% block title %}Password change{% endblock %}

{% block content %}
    <form method="post" action="." class="form-horizontal" id="password-change-form">
        {% csrf_token %}

        <h2>Password change</h2>
        
        <p>
            Please enter your old password, for security's sake, and then enter your new password twice
            so we can verify you typed it in correctly.
        </p>

        {{ form.non_field_errors }}

        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <div class="fieldWrapper control-group">
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="controls">
                        <div class="{% if field.help_text %}input-append{% endif %}">
                            {{ field }}
                            {% if field.help_text %}<span class="add-on">?</span>{% endif %}
                        </div>
                        <span class="help_text">{{ field.help_text }}</span>
                        {{ field.errors }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="fieldWrapper control-group">
            <div class="controls">
                <button type="submit" class="btn"/>Save</button>
            </div>
        </div>
    </form>
{% endblock %}
