{% extends "base.html" %}

{% block title %}News archive{% endblock %}

{% block content %}
    {% regroup news_list by pub_date.year as news_by_year %}
    
    {% for group in news_by_year %}
        <h3>{{ group.grouper }}</h3>
        
        {% for news in group.list %}
            <div>
                {{ news.pub_date|date:"DATE_FORMAT" }}
                <a href="{{ news.get_absolute_url }}">
                    {{ news.title }}
                </a>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
