{% extends "base.html" %}

{% block feeds %}
    <link rel="alternate" type="application/atom+xml" title="Latest news" href="{% url news_feed %}" />
{% endblock %}

{% block title %}News archive{% endblock %}

{% block content %}
    <h2 class="delimiter">News archive</h2>

    {% regroup news_list by pub_date.year as news_by_year %}
    
    {% for group in news_by_year %}
        <h3>{{ group.grouper }}</h3>
        
        {% for news in group.list %}
            <div class="news-block">

                <div class="news-date">
                    {{ news.pub_date|date:"DATE_FORMAT" }}
                </div>

                <div class="news-separator">&raquo;</div>

                <div class="news-link">
                    <a href="{{ news.get_absolute_url }}">
                        {{ news.title }}
                    </a>
                </div>

            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}


{% block footer_feeds %}
    <div class="rss-link"><a href="{% url news_feed %}">Latest news</a></div>
{% endblock %}
