{% extends "base.html" %}

{% load lib_filters %}
{% load humanize %}

{% block feeds %}
    <link rel="alternate" type="application/atom+xml" title="New topics" href="{% url topics_feed %}" />
    <link rel="alternate" type="application/atom+xml" title="New posts" href="{% url posts_feed %}" />
{% endblock %}

{% block title %}Discussions{% endblock %}

{% block extrahead %}
<link href="{{ MEDIA_URL }}css/forum.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block masthead %}
    <div style="padding: 20px; text-align:left">

    <h2>
        Discussions
    </h2>

    </div>
{% endblock %}

{% block content %}
    <div id="forum_list">
<!--        <h2>Discussions</h2>-->
<!--        <hr>-->

        <div class="row">

            {% if user.is_authenticated %}
                <div class="forum_list_menu span">
                    <a href="{% url forum_subscription %}">My subscriptions</a>
                </div>
            {% endif %}

            <div class="forum_search">
                <form action="{% url search %}" method="get" class="form-search">
                    <div class="input-append">
                        {{ search_form.term }}
                        <button class="btn" type="submit" >Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row header">
            <div class="forum_icon">
                &nbsp;
            </div>
            
            <div class="forum_name">
                <h3>Forum</h3>
            </div>

            <div class="last_post">
                <h3>Last post</h3>
            </div>

            <div class="posts_count">
                <h3>Counts</h3>
            </div>

            <div class="topics_count">
                <h3>Topics</h3>
            </div>

        </div>
        <hr>

        {% for forum in forum_list %}
            <div class="row">
                <div class="forum_icon">
                    {% if forum.unread %}
                        <a href="{{ forum.get_absolute_url }}" title="New posts" class="status_icon forum_unread"></a>
                    {% else %}
                        <a href="{{ forum.get_absolute_url }}" title="No new posts" class="status_icon forum_read"></a>
                    {% endif %}
                </div>
                    
                <div class="last_post">
                    {% if forum.last_post %}
                        <strong>{{ forum.last_post.profile }}</strong><br />
                        <a href="{{ forum.last_post.get_absolute_url }}" title="Go to last post">{{ forum.last_post.date|timesince }} ago</a><br />
                        <a href="{{ forum.last_post.topic.get_absolute_url }}" title="{{ forum.last_post.topic.name }}">{{ forum.last_post.topic.name|truncate:"24" }}</a>
                    {% else %}
                        <div class="empty">No posts</div>
                    {% endif %}
                </div>

                <div class="posts_count">
                    <div class="count">{{ forum.posts_count|intcomma }}</div>
                </div>

                <div class="topics_count">
                    <div class="count">{{ forum.topics_count|intcomma }}</div>
                </div>

                <div class="forum_name">
                    <h2><a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a></h2>
                    <div class="description">{{ forum.description }}</div>
                </div>

            </div>

        <hr>
        {% endfor %}

        <div class="row-fluid">
            <div class="new_topics span4">
                <h3>New topics</h3>
                <hr>

                <div class="list">
                    {% for topic in new_topics %}
                        <div class="pull-right">
                            <a href="{{ topic.get_absolute_url }}" title="{{ topic.name }}">
                                <strong>{{ topic.name|truncate:"47" }}</strong>
                            </a>
                        </div>

                        <div class="count" title="Posts count">
                            <strong>{{ topic.posts_count }}</strong>
                        </div>

                        <hr>

                    {% empty %}
                        <div class="row empty delimiter">
                            No new topics
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="popular_topics span4">
                <h3>Popular topics</h3>
                <hr>

                <div class="list">
                    {% for topic in popular_topics %}
                            <div class="pull-right">
                            <a href="{{ topic.get_absolute_url }}" title="{{ topic.name }}">
                                <strong>{{ topic.name|truncate:"47" }}</strong>
                            </a>
                            </div>

                            <div title="New posts count">
                                <strong>+{{ topic.count }}</strong>
                            </div>
                    {% empty %}
                            <p>No popular topics</p>
                    {% endfor %}
                </div>
            </div>

            <div class="statistics span4">
                <h3>Forum statistics</h3>
                <hr>

                <div class="list">
                        <div class="pull-right">{{ total_posts_count|intcomma }}</div>
                        <div><strong>Total posts</strong></div>
                    <hr>
                    
                        <div class="pull-right">{{ total_topics_count|intcomma }}</div>
                        <div><strong>Total topics</strong></div>
                    <hr>

                        <div class="pull-right">{{ total_users_count|intcomma }}</div>
                        <div><strong>Total users</strong></div>
                    <hr>
                        <div class="pull-right">
                            <a href="{{ novice_profile.get_absolute_url }}">{{ novice_profile.user.username }}</a>
                        </div>
                        <div><strong>New user</strong></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_feeds %}
    <div class="rss-link"><a href="{% url topics_feed %}">New topics</a></div> |
    <div class="rss-link"><a href="{% url posts_feed %}">New posts</a></div>
{% endblock %}
