{% extends "base.html" %}

{% load forum_tags %}
{% load humanize %}

{% block feeds %}
    <link rel="alternate" type="application/atom+xml" title="New topics" href="{% url topics_feed %}" />
    <link rel="alternate" type="application/atom+xml" title="New posts" href="{% url posts_feed %}" />
{% endblock %}

{% block title %}Discussion{% endblock %}

{% block extrahead %}
<link href="{{ MEDIA_URL }}css/forum.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="forum_list">
        <div class="header delimiter">
            <div class="forum_icon">
                &nbsp;
            </div>
            
            <div class="forum_name">
                <h3>Forum</h3>
            </div>

            <div class="posts_count">
                <h3>Posts count</h3>
            </div>

            <div class="topics_count">
                <h3>Topics count</h3>
            </div>

            <div class="last_post">
                <h3>Last post</h3>
            </div>

        </div>
        
        {% for forum in forum_list %}
            <div class="row {% if not forloop.last %}delimiter{% endif %}">
                <div class="forum_icon">
                    {% if forum.unread %}
                        <a href="{{ forum.get_absolute_url }}" title="New posts" class="status_icon forum_unread"></a>
                    {% else %}
                        <a href="{{ forum.get_absolute_url }}" title="No new posts" class="status_icon forum_read"></a>
                    {% endif %}
                </div>
                    
                <div class="forum_name">
                    <h2><a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a></h2>
                    <div class="description">{{ forum.description }}</div>
                </div>
                
                <div class="posts_count">
                    <div class="count">{{ forum.posts_count|intcomma }}</div>
                </div>

                <div class="topics_count">
                    <div class="count">{{ forum.topics_count|intcomma }}</div>
                </div>

                <div class="last_post">
                    {% if forum.last_post %}
                        <strong>{{ forum.last_post.profile }}</strong><br />
                        <a href="{{ forum.last_post.get_absolute_url }}" title="Go to last post">{{ forum.last_post.date|timesince }} ago</a><br />
                        <a href="{{ forum.last_post.topic.get_absolute_url }}" title="{{ forum.last_post.topic.name }}">{{ forum.last_post.topic.name|truncate:"24" }}</a>
                    {% else %}
                        <div class="empty">No posts</div>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
        
        <div class="footer">
            <div class="new_topics">
                <h3>New topics</h3>
                
                <div class="list">
                    {% for topic in new_topics %}
                        <div class="row delimiter">
                            <span class="count" title="Posts count">
                                <strong>{{ topic.posts_count }}</strong>
                            </span>
                            
                            <a href="{{ topic.get_absolute_url }}" title="{{ topic.name }}">
                                <strong>{{ topic.name|truncate:"47" }}</strong>
                            </a>
                        </div>
                    {% empty %}
                        <div class="row empty delimiter">
                            No new topics
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="popular_topics">
                <h3>Popular topics</h3>
                
                <div class="list">
                    {% for topic in popular_topics %}
                        <div class="row delimiter">
                            <span class="count" title="New posts count">
                                <strong>+{{ topic.count }}</strong>
                            </span>
                            
                            <a href="{{ topic.get_absolute_url }}" title="{{ topic.name }}">
                                <strong>{{ topic.name|truncate:"47" }}</strong>
                            </a>
                        </div>
                    {% empty %}
                        <div class="row empty delimiter">
                            No popular topics
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="statistics">
                <h3>Forum statistics</h3>
                
                <div class="list">
                    <div class="row delimiter">
                        <div class="count">{{ total_posts_count|intcomma }}</div>
                        <div><strong>Total posts</strong></div>
                    </div>
                    
                    <div class="row delimiter">
                        <div class="count">{{ total_topics_count|intcomma }}</div>
                        <div><strong>Total topics</strong></div>
                    </div>
                    
                    <div class="row delimiter">
                        <div class="count">{{ total_users_count|intcomma }}</div>
                        <div><strong>Total users</strong></div>
                    </div>
                    
                    <div class="row delimiter">
                        <div class="count">
                            <a href="{{ novice_profile.get_absolute_url }}">{{ novice_profile.user.username }}</a>
                        </div>
                        <div><strong>New user</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
