{% extends "base.html" %}

{% load lib_tags %}
{% load forum_tags %}
{% load humanize %}

{% block feeds %}
    <link rel="alternate" type="application/atom+xml" title="New posts" href="{% url topic_posts_feed topic.id %}" />
{% endblock %}

{% block title %}Discussions &raquo; {{ forum.name }} &raquo; {{ topic.name }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forum.css?n" />
{% endblock %}

{% block content %}
    <div id="post_list">
        <h2>{{ topic.name }}</h2>
        <hr>

        <div class="breadcrumbs">&raquo; <a href="{% url forum %}">Discussions</a> &raquo; <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a></div>

        {% if user.is_authenticated %}
            <div class="topic_menu">
                <a href="{% url subscribe_topic topic.id %}">
                    {% if subscribed %}
                        <span title="Unsubscribe topic">Unsubscribe</span>
                    {% else %}
                        <span title="Subscribe topic">Subscribe</span>
                    {% endif %}
                </a>
                &middot; <a href="{% url topic_mark_read topic.id %}" class="mark_read">Mark topic as read</a>
            </div>

            <div class="topic_actions">
                {% topic_actions topic forum_perms user %}
            </div>

        {% endif %}

        <div class="posts">
            {% for post in post_list.object_list %}
                <div class="post">
                    <div id="post{{ post.id }}" class="anchor">&nbsp;</div>

                    <div class="date">
                        {{ post.date|timesince }} ago
                    </div>

                    <div class="profile">
                        <div class="username">
                            <a href="#" class="insert_username" title="Insert username in the new post form">{{ post.profile.user.username }}</a>
                        </div>

                        <div class="status">
                            <span class="member_{{ post.profile.forum_group.slug }}">{{ post.profile.forum_group.member_title }}</span><br />
                            Posts count: {{ post.profile.post_count|intcomma }}
                        </div>

                        <div class="links">
                            <a href="{{ post.profile.get_absolute_url }}" title="Go to profile">Profile</a>
                        </div>
                    </div>

                    <div class="body">
                        {{ post.message_html|safe }}
                        
                        {% if polls and topic.first_post == post %}
                            <div class="poll_list">
                                {% for poll in polls %}
                                    <div class="poll_{{ poll.id }}">
                                        {% if poll.user_can_vote %}
                                            <div class="poll_voting">
                                                <div class="poll_title">
                                                    {{ poll.title }}
                                                </div>
                                
                                                <div class="choices">
                                                    {% for choice in poll.choices.all %}
                                                        <div class="choice">
                                                            <label>
                                                                <input type="radio" name="poll_{{ poll.id }}" value="{{ choice.id }}" />
                                                                {{ choice.title }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                
                                                <div class="total">
                                                    {{ poll.total_votes }} vote{{ poll.total_votes|pluralize }}
                                                    {% if poll.expires %}
                                                        <br />Poll expire at {{ poll.expires|date:"DATE_FORMAT" }}
                                                    {% endif %}
                                                </div>
                                                
                                                <div class="buttons">
                                                    <a href="#" class="poll_vote disabled" rel="{{ poll.id }}">Vote</a> &middot;
                                                    <a href="#" class="show_poll_results" rel="{{ poll.id }}">Show results</a>
                                                </div>
                                            </div>
                                            
                                            <div class="poll_results" style="display:none;">
                                                {% include "forum/poll_results.html" %}
                                            </div>
                                        {% else %}
                                            <div class="poll_results">
                                                {% include "forum/poll_results.html" %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="actions">
                            {% post_actions post forum_perms user %}
                        </div>
                    </div>
                </div>
                {% if not forloop.last or not user.is_anonymous %}<hr>{% endif %}
            {% endfor %}
        </div>
        
        {% if post_form %}
            <div id="preview"></div>
            
            <div class="post">
                <div class="profile offset">
                    {% with user.get_profile as profile %}
                        <div class="username">
                            <a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
                        </div>

                        <div class="status">
                            <span class="member_{{ profile.forum_group.slug }}">{{ profile.forum_group.member_title }}</span><br />
                            Posts count: {{ profile.post_count|intcomma }}
                        </div>
                    {% endwith %}
                </div>

                <div class="body">
                    <form action="." method="post" id="add_post_form">
                        {% csrf_token %}
                        {% post_editor post_form %}
                        
                        <div class="btn-group">
                            <button type="submit" class="btn">Save post</button>
                            <button type="submit" class="btn" id="preview_button">Preview</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        
        {% pagination post_list "post" %}
    </div>
{% endblock %}

{% block footer_feeds %}
    <div class="rss-link"><a href="{% url topic_posts_feed topic.id %}">New posts</a></div>
{% endblock %}

{% block extrascript %}
<script src="{{ MEDIA_URL }}/js/plugins/jquery.sceditor.bbcode.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/jquery.scrollto.js"></script>

<script type="text/javascript" language="javascript">
//<![CDATA[
    $(document).ready(function(){
        // Hidden text collapse toggle
        $('.hidden-header').on('click', function(e){
            $(this).next('.hidden-text').toggle();
        });

        // Quote selected text
        function getSelectedText() { 
            if(window.getSelection){ 
                return window.getSelection().toString(); 
            } 
            else if(document.getSelection){ 
                return document.getSelection(); 
            } 
            else if(document.selection){ 
                return document.selection.createRange().text; 
            } 
        }

        $('.post .body').mouseup(function(e) {
            if (getSelectedText().length > 0) {
                $(this).find('.quote_selected').show();
            }
        });

        $('body').mouseup(function() {
            if (getSelectedText().length == 0) {
                $('.quote_selected').hide();
            }
        });

        $('.quote_selected a').click(function(e){
            e.preventDefault();
            var selectedText = getSelectedText();
            var textarea = $('#add_post_form textarea');
            var username = $(this).parents('.post').find('.username a').text();

            if (selectedText.length > 0) {
                $('textarea').sceditor('instance').insert(textarea.val() + '[quote=' + username + ']' + selectedText + '[/quote]\n').focus();
                $('.quote_selected').hide();
            }
        });

        // Scroll to and post highlight
        var hash = location.hash.substr(1); 
        var postHash = /post\d+/;

        if (postHash.test(hash)) {
            $("#"+hash).parent().effect("highlight", {}, 3000).scrollTo(500);
        };

        // Insert username in new post form on click on his name
        $('.insert_username').click(function(e){
            e.preventDefault();
            var username = $(this).text();
            var message = $('#add_post_form textarea').val();

            $('textarea').sceditor('instance').val(message+'[b]'+username+'[/b], ').focus();
        });


        // Preview
        $('#preview_button').click(function(e){
            e.preventDefault();
            $(this).addClass('disabled');
            $(this).text('Wait...');

            $.post(
                '{% url post_preview %}',
                $('#add_post_form').serialize(),
                function(data){
                    $('#preview').html(data).scrollTo(500);
                    $('#preview_button').removeClass('disabled');
                    $('#preview_button').text('Preview');
                    $('#preview_button').data('executing', false);
                },
                'html'
            );
        });
        
        // Show / hide poll results
        $('a.show_poll_voting, a.show_poll_results').click(function(e){
            e.preventDefault();
            var poll_id = $(this).attr('rel');
            var poll = $('div.poll_'+poll_id);

            poll.find('div.poll_voting').toggle();
            poll.find('div.poll_results').toggle();
        });

        // On poll choice click enable poll vote button
        $('input[name^=poll_]').click(function(e){
            $(this).parents('div.poll_voting').find('a.poll_vote').removeClass('disabled');
        });

        // Poll voting
        $('a.poll_vote').click(function(e){
            e.preventDefault();
            var poll_id = $(this).attr('rel');
            var choice = $('input[name=poll_'+poll_id+']:checked');

            if (!choice) return;
            var choice_id = choice.val();

            $(this).addClass('disabled');
            $(this).text('Wait...');

            $.getJSON(
                '/forum/poll/vote/' + choice_id + '/',
                function(data) {
                    var poll = $('div.poll_'+data.poll_id);
                    poll.find('div.poll_results').html(data.responseHTML);
                    poll.find('div.poll_voting').remove();
                    poll.find('div.poll_results').show();
                }
            );
        });
    });
//]]>
</script>
{% endblock %}
