{% extends "forum_form_base.html" %}

{% load humanize %}
{% load webapp_tags %}
{% load forum_tags %}

{% block title %}Discussions &raquo; {{ forum.name }} &raquo; {{ topic.name }} &raquo; Post edit{% endblock %}

{% block page-header %}Edit Post{% endblock %}

{% block forum %}
    <div id="preview"></div>

    <div class="post row">
        <div class="profile row offset col-lg-2 col-md-2 col-sm-2">
            <div class="username col-lg-12 col-md-12 col-sm-12 col-xs-4">
                <a href="{{ post.profile.get_absolute_url }}">{{ post.profile.user.get_full_name }}</a>
            </div>

            <div class="status col-lg-12 col-md-12 col-sm-12 col-xs-4">
                <strong>{{ post.profile.forum_group.member_title }}</strong>
            </div>
            <div class="counts col-lg-12 col-md-12 col-sm-12 col-xs-4">
                Posts count: {{ post.profile.post_count|intcomma }}
            </div>
        </div>

        <div class="body col-lg-10 col-md-10 col-sm-10">
            <form action="." method="post" id="edit_post_form">
                {% csrf_token %}
                {{ post_form|crispy }}

                <div class="form-actions btn-group">
                    <button type="submit" class="btn btn-default">Save post</button>
                    <button type="submit" class="btn btn-default" id="preview_button">Preview</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="/static/js/plugins/jquery.scrollto.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.sceditor.bbcode.min.js"></script>

<script type="text/javascript" language="javascript">
	$(document).ready(function(){
        // Hidden text collapse toggle
        $('.hidden-header').on('click', function(e){
            $(this).next('.hidden-text').toggle();
        });

        // Preview
        $('#preview_button').click(function(e){
            e.preventDefault();
            $(this).addClass('disabled');
            $(this).text('Wait...');

            $.post(
                "{% url 'post_preview' %}",
                $('#edit_post_form').serialize(),
                function(data){
                    $('#preview').html(data).scrollTo(500);
                    $('#preview_button').removeClass('disabled');
                    $('#preview_button').text('Preview');
                    $('#preview_button').data('executing', false);
                },
                'html'
            );
        });
	});

    var loadCSS = function(url, callback){
        var link = document.createElement('link');
        link.type = 'text/css';
        link.rel = 'stylesheet';
        link.href = url;
        link.id = 'theme-style';

        document.getElementsByTagName('head')[0].appendChild(link);

        var img = document.createElement('img');
        img.onerror = function(){
            if(callback) callback(link);
        }
        img.src = url;
    }

    $(document).ready(function(){
        var initEditor = function() {
            $("textarea.bbcode").sceditor({
                plugins: 'bbcode',
                style: "/static/css/jquery.sceditor.default.min.css",
                emoticonsRoot: "/static/images/",
                resizeWidth: false,
                height: 300,
                toolbar: "bold,italic,underline,strike,subscript,superscript|left,center,right,justify|size,color,removeformat|bulletlist,orderedlist|code,quote|horizontalrule,image,email,link,unlink|emoticon,youtube,date,time|source"
            });
        }

        initEditor();

        $('textarea.bbcode').sceditor('instance').nodeChanged(function(e) {
            $('textarea.bbcode').sceditor('instance').updateOriginal();
        });

        $('textarea.bbcode').sceditor('instance').selectionChanged(function(e) {
            $('textarea.bbcode').sceditor('instance').updateOriginal();
        });

    });
</script>
{% endblock %}
