{% extends "base.html" %}

{% load humanize %}
{% load forum_tags %}

{% block title %}Discussions &raquo; {{ forum.name }} &raquo; Move posts{% endblock %}

{% block extrahead %}
<link href="{{ MEDIA_URL }}css/forum.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h2 class="delimiter">Move posts</h2>
    <div class="breadcrumbs">&raquo; <a href="{% url forum %}">Discussions</a> &raquo; <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> &raquo; <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></div>
	
    <form action="." method="post" id="post_move_form">
        {% csrf_token %}
        {{ topic_form.non_field_errors }}
        
        <div class="field-wrapper">
            <label for="id_topic_dest">Topic:</label>
            {{ topic_form.topic_dest.errors }}
            {{ topic_form.topic_dest }}
        </div>
        
        {% for id, post in topic_form.fields.posts.choices %}
            <div class="post{% if not forloop.last %} delimiter{% endif %}">
                <input type="checkbox" class="invisible" name="posts" value="{{ id }}" />
                
                <div class="date">
                    {{ post.date|timesince }} ago
                </div>
                
                <div class="profile">
                    <div class="username">
                        <a href="#" class="insert_username">{{ post.profile.user.username }}</a>
                    </div>
                            
                    <div class="status">
                        <span class="member_{{ post.profile.forum_group.slug }}">{{ post.profile.forum_group.member_title }}</span><br />
                        Posts count: {{ post.profile.post_count|intcomma }}
                    </div>
                            
                    <div class="links">
                        <a href="{{ post.profile.get_absolute_url }}" title="Go to profile">Profile</a>
                    </div>
                </div>
        
                <div class="body">
                    {{ post.message_html|safe }}
                </div>
            </div>
        {% endfor %}
        
        <div class="buttons">
            <input type="submit" value="Move posts" />
        </div>
    </form>
{% endblock %}
