{% extends "base.html" %}

{% load lib_tags %}
{% load forum_tags %}
{% load forum_filters %}
{% load humanize %}

{% block title %}Discussions &raquo; Search{% endblock %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/forum.css"/>
{% endblock %}

{% block content %}
<div id="search_results">
    <h2>Search results</h2>
    <hr>

    <div class="breadcrumbs">&raquo; <a href="{% url forum %}">Discussions</a></div>

    <div class="forum_search">
        <form action="{% url search %}" method="get" class="form-search">
            <div class="input-append">
                {{ search_form.non_field_errors }}
                {{ search_form.term.errors }}
                {{ search_form.term }}
                <button class="btn" type="submit" >Search</button>
            </div>
        </form>
    </div>
            
    <div class="posts">
        {% for post in post_list.object_list %}
            {% ifchanged %}
                <h3>{{ post.topic }}</h3>
            {% endifchanged %}
            <hr>

            <div class="post">
                <div id="post{{ post.id }}" class="anchor">&nbsp;</div>
                
                <div class="date">
                    {{ post.date|timesince }} ago
                </div>

                <div class="profile">
                    <div class="username">
                        <a href="#" class="insert_username">{{ post.profile.user.username }}</a>
                    </div>
                    
                    <div class="status">
                        <span class="member_{{ post.profile.forum_group.slug }}">{{ post.profile.forum_group.member_title }}</span><br />
                        Posts count: {{ post.profile.post_count|intcomma }}
                    </div>
                    
                    <div class="links">
                        <a href="{{ post.profile.get_absolute_url }}" title="Go to profile">Profile</a>
                    </div>
                </div>
                
                <div class="body">
                    {{ post.message_html|highlight:search_term|safe }}
                    
                    <div class="actions">
                        <a href="{{ post.get_absolute_url }}" title="Permanent link">Link</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="empty">
                No posts met your search criteria
            </div>
        {% endfor %}
    </div>

    {% pagination post_list "post" search_term %}
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" language="javascript">
//<![CDATA[
....$(document).ready(function(){
        // Hidden text collapse toggle
        $('.hidden-header').on('click', function(e){
            $(this).next('.hidden-text').toggle();
        });
....});
//]]>
</script>
{% endblock %}
