{% extends "Base.html" %}

{% load forum_tags %}

{% block title %}Discussions &raquo; {{ forum.name }} &raquo; Move topic{% endblock %}

{% block extrahead %}
<link href="{{ MEDIA_URL }}css/forum.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h2 class="delimiter">Move topic</h2>
    <div class="breadcrumbs">&raquo; <a href="{% url forum %}">Discussions</a> &raquo; <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> &raquo; <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></div>
	
    <form action="." method="post" id="move_topic_form">
        {% csrf_token %}
        
        {{ topic_form.as_div }}
        
        <input type="submit" value="Move topic" />
    </form>
{% endblock %}