{% extends "base.html" %}

{% load forum_tags %}

{% block title %}Discussion &raquo; {{ forum.name }} &raquo; New topic{% endblock %}

{% block extrahead %}
<link href="{{ MEDIA_URL }}css/forum.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.scrollto.js"></script>

<script type="text/javascript" language="javascript">
//<![CDATA[
	$(document).ready(function(){
        // Hidden text collapse toggle
        $('.hidden-header').live('click', function(e){
            $(this).next('.hidden-text').toggle();
        });
        
        // Preview
        $('#preview_button').click(function(e){
            e.preventDefault();
            $(this).addClass('disabled');
            $(this).text('Wait...');
            
            $.post(
                '{% url post_preview %}',
                $('#add_topic_form').serialize(),
                function(data){
                    $('#preview').html(data).scrollTo(500);
                    $('#preview_button').removeClass('disabled');
                    $('#preview_button').text('Preview');
                    $('#preview_button').data('executing', false);
                },
                'html'
            );
        });
        
        // Hide delete pool checkbox
        $('input[id$=-DELETE]').hide();
        
        // Hide all pools forms except filled
        $('div.pool_edit').each(function(){
            var pool = $(this);
            
            // Hide pool only if it has only empty fields
            var empty = true;
            pool.find('input:text').each(function(){
                if ($(this).val() != '')
                    empty = false;
            });
            if (empty || pool.find('input[name$=-DELETE]:checked').length) pool.hide();
            
            // Hide all pool chices rows except first two or filled
            pool.find('div.choice').each(function(index){
                if ((index >= 2) && ($(this).find('input:text').val() == '')) {
                    $(this).hide();
                }
            });
        });
        
        // Add pool
        $('#add_pool_button').click(function(e){
            e.preventDefault();
            var pool = $('div.pool_edit:not(:visible):first');
            
            // Hide pool choices except first two
            pool.find('div.choice').each(function(index){
                if (index >= 2) {
                    $(this).hide();
                }
            });
            
            // Reset all fields
            pool.find('input:text').val('');
            pool.find('input[name$=-DELETE]').removeAttr('checked');
            pool.show();
            
            if (!pool.next('.pool_edit').length) {
                $(this).hide()
            }
        });
        
        // Delete pool
        $('input.delete_pool').click(function(e){
            e.preventDefault();
            var pool = $(this).parents('div.pool_edit');
            pool.find('input[name$=DELETE]').attr('checked', 'checked');
            pool.hide();
        });
        
        // Add pool choice
        $('input.add_choice').click(function(e){
            e.preventDefault();
            var pool = $(this).parents('div.pool_edit');
            var choice = pool.find('div.choice:not(:visible):first');
            choice.show();
            
            if (!choice.next('.choice').length) {
                $(this).hide()
            }
        });
	});
//]]>
</script>
{% endblock %}

{% block content %}
    <h2 class="delimiter">New topic</h2>
    <div class="breadcrumbs"><a href="{% url forum %}">Discussion</a> &raquo; <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a></div>
	
    <div id="preview"></div>
    
    <form action="." method="post" id="add_topic_form">
        {% csrf_token %}
        
        {{ topic_form.non_field_errors }}
        {{ topic_form.as_div }}
        
        {% post_editor post_form %}
        
        {{ pool_formset.management_form }}
        {{ pool_formset.non_form_errors }}
        
        {% for pool_form in pool_formset.forms %}
            <div class="pool_edit">
                {{ pool_form.non_field_errors }}
                {{ pool_form.id }}
                {{ pool_form.topic }}
                {{ pool_form.DELETE }}
                
                <div class="field-wrapper">
                    {{ pool_form.title.label_tag }}
                    {{ pool_form.title.errors }}
                    {{ pool_form.title }}
                    {% if pool_form.title.help_text %}<span class="help_text">{{ pool_form.title.help_text }}</span>{% endif %}
                </div>
                
                <div class="field-wrapper">
                    {{ pool_form.expires.label_tag }}
                    {{ pool_form.expires.errors }}
                    {{ pool_form.expires }}
                    {% if pool_form.expires.help_text %}<span class="help_text">{{ pool_form.expires.help_text }}</span>{% endif %}
                </div>
                
                <div class="choices">
                    <div class="choices_title">
                        Pool choices
                    </div>
                
                    {{ pool_form.choice_formset.management_form }}
                    {{ pool_form.choice_formset.non_form_errors }}
                    
                    {% for choice_form in pool_form.choice_formset.forms %}
                        <div class="choice">
                            {{ choice_form.non_field_errors }}
                            {{ choice_form.id }}
                            {{ choice_form.pool }}

                            <div class="field-wrapper">
                                <div class="counter">{{ forloop.counter }}.</div>
                                {{ choice_form.title.errors }}
                                {{ choice_form.title }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="buttons">
                    <input type="submit" value="Add pool choice" class="add_choice" />
                    <input type="submit" value="Delete pool" class="delete_pool" />
                </div>
            </div>
        {% endfor %}
        
        <div class="buttons">
            <input type="submit" value="Create topic" />
            <input type="submit" value="Add pool" id="add_pool_button" />
            <input type="submit" value="Preview" id="preview_button" />
        </div>
    </form>
{% endblock %}
