{% extends "base.html" %}

{% block title %}{{ profile.user.get_full_name }} &raquo; Edit profile{% endblock %}

{% block content %}
    <div class="blockcontent">
        <h2>Edit profile</h2>
        
        <form action="." method="post" id="profile-edit-form">
            {% csrf_token %}
            
            <fieldset>
                <legend>Required fields</legend>
                
                {{ user_form.as_div }}
            </fieldset>
        
            <fieldset>
                <legend>Optional fields</legend>
                
                {{ profile_form.as_div }}
            </fieldset>
            
            <input type="submit" value="Save" />
        </form>
    </div>
{% endblock %}