#layout {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%
}

/*#layout:not(.active):not(.ctrl) {*/
/*  cursor: crosshair;*/
/*}*/

svg#layout:not(.active):not(.ctrl) .link,  svg#layout:not(.active):not(.ctrl) .internode {
  cursor: pointer;
}

svg#layout path.dragline,  #links path.link {
  fill: none;
  stroke: #000000;
  stroke-width: 4px;
  cursor: default;
}

svg#layout .dragline {
  pointer-events: none;
}

svg#layout path.hidden {
  stroke-width: 0;
}

svg#layout path.excitatory {
  stroke: #467AB3;
}

svg#layout path.inhibitory {
  stroke: #B34846;
}

svg#layout text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

svg#layout .hidden {
    display: none;
}

/*LINKS*/
    g#links path:not(.active){
      opacity: 0.1;
    }

    g#links .link.selected {
      stroke-dasharray: 10,2;
    }

/*INTERNODES*/

    g#internodes ellipse {
        fill: #FFFFFF;
    }
    g#internodes .internode:not(.active) {
        display: none;
    }

/*WEIGHTS*/
    g#weights .weight:not(.active) {
        display: none;
    }


/*NODES*/
    g#nodes circle {
        stroke-width: 2.5px;
        cursor: pointer;
        stroke: #bbbbbb;
        fill: #eeeeee;
    }

    g#nodes circle.selected {
        stroke: steelblue;
    }

    g#nodes circle.selected2 {
        stroke: orange;
    }

    g#nodes circle.conflict {
        stroke: #b22222;
        fill: #d07a7a;
    }

    g#nodes text.id {
        font-weight: bold;
    }
