{% extends "base.html" %}

{% block content %}
<form enctype="multipart/form-data" method="post" action="/upload/" class="form-horizontal" >
    <div class="modal">
        <div class="modal-header"><h3>Upload File</h3></div>
        <div class="modal-body">
           {% csrf_token %}
            {{ form.non_field_errors }}

            {% for field in form %}
                <div class="fieldWrapper control-group">
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="controls">
                        <div class="{% if field.help_text %}input-append{% endif %}">
                            {{ field }}
                            {% if field.help_text %}<span class="add-on">?</span>{% endif %}
                        </div>
                        <span class="help_text">{{ field.help_text }}</span>
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}

            {% if url_to_file %}
            The file is successfully uploaded.

            <p>Uploaded file is stored in <a href='{{url_to_file}}'>{{url_to_file}}</a>.</p>
            {% endif %}
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn">Save</button>
        </div>
    </div>
</form>

{% endblock %}
