<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>500 Server Internal Error</title>
        <style>
        .centered-error {
            background: url('/static/images/special/404_carlos.png') no-repeat center center;
            width: 760px;
            height: 500px;
            margin: auto;
        }
        </style>
    </head>

    <body>
        <div class="centered-error"></div>
    </body>
</html>
