{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <h2>Registration</h2>
    
    <form action="." method="post" id="registration-form">
        {% csrf_token %}
        
        <fieldset>
            <legend>Required fields</legend>
            
            {{ user_form.as_div }}
        </fieldset>
    
        <fieldset>
            <legend>Optional fields</legend>
            
            {{ profile_form.as_div }}
        </fieldset>
        
        <input type="submit" value="Register" />
    </form>
{% endblock %}
