<style>
.sceditor-container {
    margin-bottom: 10px;
}
</style>
<script type="text/javascript" src="/static/js/plugins/jquery.sceditor.bbcode.min.js"></script>
<script>
//<![CDATA[
    var loadCSS = function(url, callback){
        var link = document.createElement('link');
        link.type = 'text/css';
        link.rel = 'stylesheet';
        link.href = url;
        link.id = 'theme-style';

        document.getElementsByTagName('head')[0].appendChild(link);

        var img = document.createElement('img');
        img.onerror = function(){
            if(callback) callback(link);
        }
        img.src = url;
    }

    $(document).ready(function(){
        var initEditor = function() {
            $("textarea.bbcode").sceditor({
                plugins: 'bbcode',
                style: "/static/css/jquery.sceditor.default.min.css",
                emoticonsRoot: "/static/images/",
                resizeWidth: false,
                height: 300,
                toolbar: "bold,italic,underline,strike,subscript,superscript|left,center,right,justify|size,color,removeformat|bulletlist,orderedlist|code,quote|horizontalrule,image,email,link,unlink|emoticon,youtube,date,time|source"
            });
        }

        initEditor();

        $('textarea.bbcode').sceditor('instance').nodeChanged(function(e) {
            $('textarea.bbcode').sceditor('instance').updateOriginal();
        });

        $('textarea.bbcode').sceditor('instance').selectionChanged(function(e) {
            $('textarea.bbcode').sceditor('instance').updateOriginal();
        });

    });
//]]>
</script>
