<div class="topic_actions btn-group">
{% if can_change %}
    <a href="{% url topic_edit topic.id %}" class="topic_action btn btn-default" title="Edit topic">
        <i class="fa fa-edit"></i> Edit</a>
{% endif %}

</div>
<div class="topic_actions btn-group">

{% if can_move_topic %}
    <a href="{% url topic_move topic.id %}" class="topic_action btn btn-default" title="Move topic">Move</a>
{% endif %}

{% if can_move_post %}
    <a href="{% url post_move topic.id %}" class="topic_action btn btn-default" title="Move posts">Move posts</a>
{% endif %}

{% if can_split %}
    <a href="{% url topic_split topic.id %}" class="topic_action btn btn-default" title="Split topic">
        <i class="fa fa-scissors"></i> Split</a>
{% endif %}

</div>
<div class="topic_actions btn-group">

{% if can_stick %}
    <a href="{% url topic_stick topic.id %}" class="topic_action btn btn-default" title="Stick/unstick topic">
    {% if topic.is_sticky %}
        <i class="fa fa-thumb-tack fa-rotate-270"></i>
        Unstick
    {% else %}
        <i class="fa fa-thumb-tack"></i>
        Stick
    {% endif %}
    </a>
{% endif %}

{% if can_close %}
    <a href="{% url topic_close topic.id %}" class="topic_action btn btn-default" title="Close/open topic">
    {% if topic.is_closed %}
        <i class="fa fa-unlock-alt"></i>
        Open
    {% else %}
        <i class="fa fa-lock"></i>
        Close
    {% endif %}
    </a>
{% endif %}

</div>
<div class="topic_actions btn-group">

{% if can_delete %}
    <a href="{% url topic_delete topic.id %}" class="topic_action btn btn-default" title="Delete topic" onclick="return confirm('Delete topic?');">
        <i class="fa fa-trash"></i> Delete</a>
{% endif %}

</div>
