<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">  

    <head>
        <title>404 Page Not Found</title>

        <link href="/media/css/main.css" type="text/css" rel="stylesheet" />
    </head>

    <body>

    <div class="centered-error">
        <div style="position:relative; left:200px; top:20px; font-size:20px; width: 350px">The spike train you are looking for has not been recorded yet.</div>
        <div style="position:relative; left:300px; top:370px; font-size:16px; width:250px">404 Page Not Found</div>
    </div>

    </body>
</html>
