<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">  

    <head>
        <title>{% block title %}{% endblock %}</title>
        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="nuSPIC, NEST, g-node, BCF" />
        <meta name="description" content="Neural System Prediction and Identification Challenge" />

        <link type="image/x-icon" rel="icon" href="{{ MEDIA_URL }}nuSPIC_blue.ico" />
        <link type="image/x-icon" rel="shortcut icon" href="{{ MEDIA_URL }}nuSPIC_blue.ico" />

        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/nuspic/jquery-ui.custom.css?ver=1.8.14" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui.custom.css" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/default.css" />

        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js?ver=1.7.1"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.custom.min.js?ver=1.8.14"></script>
        
        <script type="text/javascript">
            if (typeof String.prototype.startsWith != 'function') {
              String.prototype.startsWith = function (str){
                return this.indexOf(str) == 0;
              };
            }

            $(document).ready(function() {
                $( ".navigation li" ).each(function() {
                    if (window.location.pathname.startsWith($(this).find( "a" ).attr("href"))) {
                        $(this).addClass("currentpage")
                    };
                }).click(function() {
                    window.location.href = $(this).find("a").attr("href");
                });

                if (window.location.pathname.length > 1) {
                    $( ".navigation li:first" ).removeClass("currentpage")
                };

                $( "button.help_text" ).addClass('ui-corner-right').click(function(e) {
                    e.preventDefault();
                });

            });
        </script>

        {% block feeds %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    
    <body style="background-color: #F1F1F1">
        <div id="wrapper">

            <div id="header">

                <div class="ui-corner-br" id="header_top">
                    <div class="logo_small" id="banner"></div>
                </div>

                <div class="navigation">

                    <div class="top_links">
                        {% if user.is_authenticated %}
                            Welcome,
                            <a href="{% url profile user.profile.id %}">{{ user.get_full_name }}</a> |
                            {% if user.is_staff %}
                                <a href="/admin/">admin</a> |
                            {% endif %}
                            <a href="{% url logout %}">Logout</a>
                        {% else %}
                            <a href="{% url login %}">Login</a>
                            <span>or</span>
                            <a href="{% url registration %}">register</a>
                        {% endif %}
                    </div>

                    <div id="main_menu">
                        <ul >
                            <li class="ui-corner-tl"><a href="{% url mainpage %}">Home</a></li>
                            <li><a href="{% url news_archive %}">News</a></li>
                            <li id="competition"><a href="{% url network_list %}">Competition</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/faq/">FAQ</a></li>
                            <li><a href="{% url accounts %}">Community</a></li>
                            <li><a href="{% url forum %}">Discussions</a></li>
                            <li class="ui-corner-tr"><a href="/contact/">Contact</a></li>
                        <ul>
                    </div>

                </div>

            </div>
            
            <div class="ui-corner-tr" id="content">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">

                <div class="navigation">
                    <a href="{% url mainpage %}">Home</a> |
                    <a href="{% url news_archive %}">News</a> |
                    <a href="{% url network_list %}">Competition</a> |
                    <a href="/about/">About</a> |
                    <a href="/faq/">FAQ</a> |
                    <a href="{% url accounts %}">Community</a> |
                    <a href="{% url forum %}">Discussions</a> |
                    <a href="/contact/">Contact</a>
                </div>
                
                <div class="feeds">
                    {% block footer_feeds %}{% endblock %}
                </div>
            </div>

        </div>
    </body>
</html>
