{% extends "base.html" %}

{% block title %}Primary e-mail address verification{% endblock %}

{% block content %}
    <div class="blockcontent">
        <h2>Primary e-mail address verification</h2>
        
        <p>
            We've e-mailed you the instructions for activating your new primary e-mail account to the e-mail address you submitted. You should be receiving it shortly.
            Until you activate your new primary e-mail account, the old one will continue be used. The activation link expires in {{ expire }} days.
        </p>
    </div>
{% endblock %}
