{% extends "base.html" %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
 
<!-- <IMG src="/media/images/webpage/nuspic_logo.png" style="margin: 0px 0px -150px 180px;" width="429" height="186" align="middle" border="0"> -->

<!-- <DIV align="left" style="margin : 200px; vspace: -100; font-family : Aller; width : 800px;"> -->
<div class="logo"></div>

<div class="blockcontent">


<p><b>Q. How do I inform when I have successfully extracted the function of a nusPIC?</b></p>

<p>
You mail to the nuSPIC team <b>(sudo.nuspic@gmail.com)</b>. In the mail please specify what function the network is performing (for nuSPIC-I) or what connectivity matrix and inputs are needed to implement the asked function (for nuSPIC-II). For a nuSPIC-I if you find more than one function then please report all the functions you have extracted. In your report please specify how you reached the particular solution. Soon we will also provide a possibility to submit solutions from the nuSPIC website.
</p>

<p><b>Q. Can there be multiple functions in a given network?</b></p>

By design we have implemented only one function. However, it is possible that network is capable of performing more than one function. If you find that there are more than one function, submit all functions that you have extracted to the nuSPIC admins.

<p><b>Q. How will it be decided that a user has solved the nuSPIC?</b></p>

<p>When you are convinced that you have discovered the function, inform the nuSPIC team (sudo.nuspic@gmail.com). The nuSPIC team will review the solutions and inform the user if he has the correct solution. Ideal solution is the function that we have implemented. But we will accept other possible solutions as well. The user will be informed about the review and it will also appear on the nuSPIC website.
</p>

<p><b>Q. What should I do if the simulation fails?</b></b></p>

<p>
For now, the best advise is that you return to the last working version of the network. Follow the instructions in the help-bubbles to input data in correct form.  You can also choose to return to the default version of the network. If it still does not work, logout and reload the page. In subsequent updates we will be able to guide you to the specific problem that caused the simulation to fail but for that you will have to wait.
</p>

<p><b>Q. How long simulations can I run?</b></p>

<p>In principle you run simulations up to few 100 seconds. However, the real time of the simulation can be very large depedning on the load of the machine. If you try you can solve the nuSPIC with rather short duration simulations e.g 1 - 10 sec. </p>

<p><b>Q. Can I discuss my solution to a nuSPIC on the forum?</b></p>

<p>Yes. In fact, we encourage that forum is used for this purpose. By doing this few unsuccessful strategies can be avoided by nw users.</p>

<p><b>Q. What if the stimulation protocol or stimulus I want to use is not available?</b></p>

<p>In such case please contact the nuSPIC team and we will implement the required stimulation protocol or stimulus.
</p>

<p><b>Q. Can I work offline?</b></p>

<p>
Yes, if you know python programming and has experience with the NEST simulator then upon request we can provide you the source code of the nuSPIC.
</p>

<p><b>Q. Can I download the data?</b></p>

<p>Yes.</p>

<p><b>Q. I want to perform an analysis and it is not available.</b></p>

<p>
Currently, only very limited analysis methods are available. In due course we will add new and more sophisticated analysis methods. You can also request for an analysis of your choice. We will try to include that. However, it may not be always possible. In such situations we recommend that you download the data on your local machine and analyse the data yourself.</b></p>

<p><b>Q. Only 'n' neurons are available to solve the nuSPIC-II but I need more neurons?</b></p>

<p>Well, then your solution is not the most optimal. But we will consider if you request for increase in number of neurons.</p>

<p><b>Q. Do I have to implement the said function in nuSPIC-II with sparse and random connectivity?</b></p>

<p>No. You can connect the neuron in any way you want to.</p>

<p><b>Q. Origin of the nuSPIC?</b></p>
<p>
The original idea stems from John Hopfield and David Tank. In their seminal paper in 1986 they hinted towards the difficulty in extracting function of a network given the knowledge of its structure, connectivity and activity. Anecdotal evidence tells that John Hopfield and David Tank asked their under-graduate and graduate students to extract functions of small electronic circuits. Apparently it was not possible to extract from simple electronic circuits if the number of components in them exceeded beyond 20 or so.</p>

We reached similar conclusions from our own experience. We also noticed that there is no systematic check of the limits of our contemporary appraoches in neuroscience. Therefore, we started the nuSPIC challenge.

<p><b>Q. Who are the Brains behind the nuSPIC?</b></p>
<p>
The inspiration comes from John Hopfield and David Tank. The current teams consists of four members of the Bernstein Center Freiburg. <a  style="color : #914E0C; text-decoration: none" href="http://www.bcf.uni-freiburg.de/people/details/kumar">Arvind Kumar</a> (Junior Group Leader), <a  style="color : #914E0C; text-decoration: none" href="http://www.bcf.uni-freiburg.de/people/details/vlachos">Ioannis Vlachos</a> (Post-Doctoral researcher), <a  style="color : #914E0C; text-decoration: none" href="http://www.bcf.uni-freiburg.de/people/details/zaytsev">Yury Zaytsev</a> (PhD student) and Sebastian Spreitzer (under graduate student).
The project is supported by Bernstein Center Freiburg and German node of the International Neuroinformatics Coordinating Facility (g-node.de). We use NEST (www.nest-initiative.org) as the simulator to simulate the networks.</p>


</div>
{% endblock %}


