{% extends "base.html" %}

{% block feeds %}
    <link rel="alternate" type="application/atom+xml" title="Latest news" href="{% url news_feed %}" />
{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <div style="float:right; width:30%">
        {% for news in news_list %}
            <div>
                <strong>{{ news.pub_date|date:"DATE_FORMAT" }} &raquo; {{ news.title }}</strong>
                <div>
                    {{ news.summary|safe }}
                </div>
                <a href="{{ news.get_absolute_url }}">Continue reading</a>
            </div>
            <hr />
        {% endfor %}
        
        <a href="{% url news_archive %}">News archive</a>
    </div>
    
    <div style="text-align: center; margin: auto; width: 468; height:80">
        <img src="/media/images/special/test_nuSPIC2.png"/>
    </div>
    
   
    <div style="width:660px; margin-left: 300px">
        {{ flatpage.content }}
    </div>
{% endblock %}

{% block footer_feeds %}
    <div class="rss-link"><a href="{% url news_feed %}">Latest news</a></div>
{% endblock %}
