{% extends "base.html" %}

{% block feeds %}
    <link rel="alternate" type="application/atom+xml" title="Latest news" href="{% url news_feed %}" />
{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <div class="news-list">
        {% for news in news_list %}
            <div>
                <strong>{{ news.pub_date|date:"DATE_FORMAT" }} &raquo; {{ news.title }}</strong>
                <div>
                    {{ news.summary|safe }}
                </div>
                <a href="{{ news.get_absolute_url }}">Continue reading</a>
            </div>
            <hr />
        {% endfor %}
        
        <a href="{% url news_archive %}">News archive</a>
    </div>
    
    <h2 style="color : #3b3831;">Neural System Prediction and Identification Challenge</h2>

    <b>nuSPIC</b> is designed to test two major assumptions in contemporary neuroscience:
    <ul>
    <li>that we can extract the function(s) performed by a biological neural network provided complete knowledge of network structure and neural activity</li>
    <li>that we can build models of brain function based on the observed neural activity</li>
    </ul>

    However, there is no clear evidence so far that these assumptions are in fact <it>valid</it>. Here we invite you to examine them using simple spiking neuron networks.



    <p style="margin-top : 50px;">
    <a  style="color : #914E0C; text-decoration: none" href="/about/">read more: the science behind nuSPIC</a>
    </p>


    <a style="color : #914E0C; text-decoration: none" href="/network/">take the challenge</a>

    <div class="logo">
        <img src="/media/images/special/nest_logo.png" id="nest_logo" >
        <img src="/media/images/special/g_node_logo.png" id="gnode_logo" >
        <img src="/media/images/special/bcf_logo.png" id="bcf_logo" >
        <img src="/media/images/special/uni_freiburg_logo.png" id="uni_freiburg_logo" >
    </div>

{% endblock %}

{% block footer_feeds %}
    <div class="rss-link"><a href="{% url news_feed %}">Latest news</a></div>
{% endblock %}
